[2015-02-12 14:00] sandraMARIONEX opened #15 "website_event_register_free: Error when trying to register on free event"
Odoo V8

website_event_sale installed.
![image 2](https://cloud.githubusercontent.com/assets/10046359/6168695/bf5f7592-b2c7-11e4-85b2-a7144891f372.png)

New event created with no type of tickets. Ticket type free appears in webpage and when I click on Register now, I receive this: 500: Internal Server Error
Here is the trace:
Traceback (most recent call last):
  File "/home/openerp-sandbox8/instan

[2015-02-12 14:01] pedrobaeza commented on #15
It seems that you haven't configured max seats of the event.

[2015-02-12 14:02] sandraMARIONEX commented on #15
have a look at image2 screenshot

[2015-02-16 20:10] pedrobaeza commented on #15
Problem can be with _website_event_sale_ coexistence. Can you try without it?

[2015-03-05 19:44] max3903 opened #19 "website_document_page"
This module would allow you to manage and structure document pages on the website to be used for an online help or wiki.

It would also allow you to provide a printable version with a table of content and subpages that you can use for a training course for example.

See also https://github.com/OCA/knowledge/issues/38

[2015-03-05 19:52] sbidoul commented on #19
@max3903 how would/could this relate to the help_online module (https://github.com/OCA/web/tree/8.0/help_online) (or vice-versa)?

[2015-03-05 19:59] max3903 commented on #19
@sbidoul I have couple ideas in mind:
- an online help for the community (like Wikipedia) where anybody could contribute
- an export of the content into a module to install for a customer as internal documentation. Customer may want to keep it private (website is not installed) and update it to its needs. module_prototyper could be used for that.
- an export in a nice PDF with a TOC so a partner c

[2015-04-20 12:18] rafaelbn commented on #15
I have test same workflow with no issue. If you don't have ticket you got a message "No seat available"

[2015-04-20 12:23] rafaelbn opened #27 "website_event_register_free_with_sale: Error 500 when buying a Event with price"
1 -
![20-04-2015 14-18-56](https://cloud.githubusercontent.com/assets/8736623/7229857/a9ab4dcc-e768-11e4-8351-e25556e5ae7a.png)
2 -
![20-04-2015 14-20-24](https://cloud.githubusercontent.com/assets/8736623/7229862/b0bf54a0-e768-11e4-939d-9acf53b96e09.png)
3 -
![20-04-2015 14-20-40](https://cloud.githubusercontent.com/assets/8736623/7229867/b70f9ac2-e768-11e4-94d8-d0bc3ffe3236.png)
4 - Log:
File "/

[2015-04-20 13:09] sandraMARIONEX commented on #15
Hello!
Effectively,
1/ If I do not define a ticket type and no max available seats is defined, I receive in the event page: the same message" No seat available". ---->OK

2/ If I do not define a ticket type and a max available seat is defined, it is Ok in the event page: I may select how many free tickets BUT new problem: (email). Note that my user/partner HAS an email address....
Here is the stac

[2015-04-20 17:02] pedrobaeza commented on #15
Install the new module _website_event_register_free_with_sale_

[2015-04-20 17:16] pedrobaeza commented on #27
It seems you don't have last version, because the line miss one `*`:

https://github.com/OCA/website/blob/8.0/website_event_register_free_with_sale/controllers/website_sale.py#L56

[2015-04-21 08:16] sandraMARIONEX commented on #15
Thanks Pedro! it works. now, no more "pay now" for 0 euros!

[2015-04-21 08:16] #15 closed

[2015-05-02 14:53] SVQTQ opened #28 "[WISHLIST] Add stock indication to shop/product"
It would be a nice feature to have a stock-indication
for example: If the product's stock is 0-10, show green circle, if lt or equal to 0, show red

It is possible to just add the product's stock through xml, but this will not show if the user is not logged in, since public user has no read on the product's stock field

[2015-05-27 08:05] alanljj opened #32 "website_analytics_piwik issue"
my piwik plugin install and configured very smoothly without any error. and Piwik start tracking visitors information. But when we click "send by email" on Quotation or Purchase module found following error:

QWebException: "'NoneType' object has no attribute 'piwik_analytics_host'" while evaluating
'website.piwik_analytics_host'

[2015-05-27 08:39] hbrunn commented on #32
@alanljj #33 should fix this

[2015-05-27 10:46] alanljj commented on #32
Thanks! after update file: website/website_analytics_piwik/views/templates.xml, the problems was solved.

May I ask why don't merger this to the master? so people can get the latest repository when git clone it.

[2015-05-28 23:21] gfwalters opened #34 "website_backend_views doesn't scroll"
I installed website_backend_views and the main partner form displays fine, but for some reason, the webpage cannot scroll up/down or left/right.  Any ideas as to what the problem could be?

[2015-06-02 07:13] #32 closed

[2015-06-05 08:13] Razztak opened #39 "website_sale_vat_required.saas_users"
Error:
[code]
This happens when I'm logged in as (in this case root).
When I register as a new user no problem, the problem occurs when I am already a registered user and try make a order in shop.

Trace:
[code]

[2015-06-26 17:30] hbrunn commented on #34
I unconditionally pull all CSS from the backend, this possibly messes up things. Try to identify which css causes the problem (or if some javascript from the backend does something similar) and filter it out

[2015-06-26 19:07] bjoliveau opened #49 "website_backend_views doesn't display form"
Hi,

I've created a new database with demo data.

I installed the module and go to http://localhost:9999/website_backend_views/demo/ on my local server.

The page shows up then, but without the form (screenshot below)

![001_201506_2f9](https://cloud.githubusercontent.com/assets/1226478/8385221/d6e58876-1c14-11e5-84ff-0454d9843245.png)

It seems i followed advices in "usage" part of README.rst, bu

[2015-06-29 06:53] hbrunn commented on #49
Did you verify (in debug mode) that `website_backend_views/static/src/js/website_backend_views.js` is loaded? If so, what happens if you look at the source code? Do you see a line like `<t t-website-backend-view=...` between the title and the text?

[2015-06-30 15:39] bjoliveau commented on #49
We installed a new instance and clone code. It's fine and the form appear.
Thanks for your help.

[2015-06-30 15:39] #49 closed

[2015-07-01 19:34] beergirlatl opened #51 "Collapsible product categories in website shop causing NoneType error"
I have successfully installed the module (without error) to create collapsible categories in the webshop, but when I navigate to the Customize menu and select the check box, the shop page shows this error.

I am suspecting that this is some sort of null data error, but not sure where/what might be missing?  I have many categories with parent categories, and every product in the system has a public

[2015-07-01 20:47] pedrobaeza commented on #51
Try to reproduce the problem in one instance of runbot: https://runbot.odoo-community.org/runbot/repo/github-com-oca-website-186, and tell us the sequence, because I haven't get that problem. Have you customized something (theme, code...)?

[2015-07-01 21:44] beergirlatl commented on #51
I haven't customized anything myself.  Just trying to set up the website at this point, however I did notice that I have a few more modules installed, like Point of Sale, Accounting, Projects, etc.

[2015-07-01 22:36] pedrobaeza commented on #51
Please try in the link above if you can reproduce the problem. If then, please write down the followed steps.

[2015-07-13 06:16] Himmawari opened #55 "Error"
module: website_sale_vat_required
version: 8.0

**Steps to reproduce**
- Put the folder in addons, refresh modules in the backend, install the module and when I installed it I have error

**Current behavior**
Error. It doesn't works

Print screen:
https://drive.google.com/file/d/0BxBxgOREo-YoRDExVmhGRjJDZUU/edit?pli=1
https://drive.google.com/file/d/0BxBxgOREo-YoVDlseWZlWFV3dHc/edit?pli=1

[2015-07-15 22:01] beergirlatl commented on #51
I have not been able reproduce the problem in your instance.  In my own instance I have deleted all Public Categories and the Shop loads without generating the error.  However, when I create a Public Category and navigate back to the Shop, the error reappears,  even if I haven't added the Public Category to any product records or changed anything else.  It looks like there are some permission diff

[2015-07-20 09:45] MiguelMachadoM commented on #39
@eLBati you can check this?

any idea?

[2015-07-20 10:41] MiguelMachadoM commented on #39
@eLBati
Well i Deactivate this view and now work without errors.

[2015-07-24 16:15] eLBati commented on #39
Hello @Razztak
the PR https://github.com/OCA/website/pull/57 should fix it

[2015-07-30 20:33] pedrobaeza commented on #51
Sorry, but we need that the bug is reproducible in our side, so I close meanwhile.

[2015-07-30 20:33] #51 closed

[2015-08-06 01:17] nhomar opened #65 "[STANDARD] website_menu_multilang: This module do not comply with standards"
- [ ] README.rst
- [ ] Documentation
- [ ] Description

[2015-08-06 07:13] pedrobaeza commented on #65
It was merged before these guidelines were set, and nobody has make a PR for enhancing it.

[2015-08-06 07:15] nhomar commented on #65
Yes no problem, as you see I asigned to myself to take car of this Issue. It is just for My control and informing people.... I understand perfectly.

[2015-08-07 14:10] dreispt opened #66 "TravisCI tests not working"
It seems that core `website_sale` tests are being run and fail.

[code]

Also tests log is too long for TravisCI. Verbosity needs to be lowered.

[2015-08-14 10:40] Snarfbox commented on #51
Hello, I have the same problem. I'm on Ubuntu with the last versions of odoo8

[2015-08-14 16:52] rafaelbn commented on #27
@JavierIniesta could you check this please?

[2015-08-14 20:21] Snarfbox opened #70 "Collapsible product categories in website shop causing NoneType error"
Hello,
Problem same as #51 but it's closed and not resolv. :-(
Thanks.

[2015-08-14 20:35] pedrobaeza commented on #70
Don't open a new one, but ask for open the previous one. Until you get the steps to find the error (on runbot), we cannot do too much.

[2015-08-14 20:35] #70 closed

[2015-09-01 19:53] #27 closed

[2015-10-14 00:57] pedrobaeza opened #85 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [ ] website_analytics_piwik - https://github.com/OCA/website/pull/145
- [x] website_anchor_smooth_scroll - By obulkin - #243
- [ ] website_backend_views
- [ ] website_blog_facebook_comment
- [x] website_blog_excerpt_img - By @Yajo - #298
- [x] website_blog_mgmt - By @sergio-teruel - #147
- [x] webs

[2015-10-14 11:35] rafaelbn commented on #85
As  website_portal has been a backport, must it be migrated?

[2015-10-14 15:13] pedrobaeza commented on #85
No, that modules should be removed in a PR to clean this branch.

[2015-10-28 10:12] rafaelbn commented on #39
Please @Razztak could you test this issue again and if solved as @eLBati says close this issue? Thanks

[2015-10-28 10:16] rafaelbn opened #98 "[8.0] website_sale_vat_required - Doesn't show field VAT in checkout & README"
After testing in runbot, with this module installed you cannot buy because when you and in the checkout form you cannot confirm the order. I guess when I click in "confirm" button Odoo ask for VAT because is required but as this field is not shown you cannot fill it.

After this test and issue I discover that README of this module is not up-to-date, there is not runbot button and there is not bug

[2015-10-28 10:17] pedrobaeza commented on #39
I close it because it should be. If not, feel free to reopen again.

[2015-10-28 10:17] #39 closed

[2015-10-29 18:33] rafaelbn commented on #98
From:
- https://github.com/OCA/e-commerce/pull/43 (correct branch - closed)
- https://github.com/OCA/website/pull/24/ (merged)

cc @pedrobaeza @Yajo @sergio-incaser @carlos-incaser @eLBati @LeartS

[2015-11-03 17:04] eLBati commented on #98
@rafaelbn just tested on http://3118880-8-0-0c5e0b.runbot2.odoo-community.org (base DB)
- installed module website_sale_vat_required
- went to http://3118880-8-0-0c5e0b.runbot2.odoo-community.org/shop/checkout (both with logged and anonymous user)

I can see 'VAT Number' field.

Could you describe the steps to reproduce the problem?

Thanks

[2015-11-10 12:55] ilexius opened #105 "website_backend_views is not installable"
I am on commit 797e7b3dc85348b064d59347b4e3769680922859 of the Odoo 9.0 branch. I am not able to install `website_backend_views`.

 On the `Technical Details` tab of the module it simply says `Not Installable` for `Status`.

[2015-11-10 12:56] pedrobaeza commented on #105
Of course, because the module is not migrated. That's why the status is "Not Installable".

[2015-11-10 12:56] #105 closed

[2015-11-12 11:31] Yajo opened #108 "Unify snippets in one module?"
I launched https://github.com/OCA/website/pull/107, but will have to launch more probably.

Should OCA unify all snippets in one module (i.e. website_snippets_extra), or make one for each one?

[2015-11-12 11:54] rafaelbn commented on #108
I agree :+1:

[2015-11-12 12:23] pedrobaeza commented on #108
Each snippet should be in a separate module. The maintenance will be better. Imagine a mega-module with all snippets that you have to migrate to a newer version. It's all or nothing. It also helps to locate the involved code in a snippet if you have a problem in it.

[2015-11-12 12:27] rvalyi commented on #108
I agree with @pedrobaeza.
Also I strongly advise against using Odoo for web dev because I bet it will be a dead end or at least something you will not be able to capitalize on, but that's only my own opinion here. Sustainable alternatives are coming stay tuned.

[2015-11-12 12:29] rafaelbn commented on #108
OK, if I imagine that we have 20 snippets, this will be complicated.

I didn't think it well, @Yajo if we put all together we cannot put each one in the correct repo. Maybe the idea for themes is correct but same approach in OCA will be difficult.

[2015-11-12 12:31] rafaelbn commented on #108
@rvalyi could you give us some more info or concepts? thanks

[2015-11-12 12:36] yajo commented on #108
OK thanks, then I'll continue as until now.

[2015-11-12 12:36] #108 closed

[2015-11-12 13:01] lisandi commented on #108
The points rvalyi are the most important IMHO - continuing it will be a dead end approach, but putting all those snippets into its own module will blow up the code minimal but give much more freedom to localise problems - you could very easy install and deinstall a module and check the output in the front-end. beside that those single snippet modules could be individually put into a specific site

[2015-11-12 13:18] rvalyi commented on #108
@lisandi @rafaelbn
Akretion will start building a full blown open source e-commerce based on LocomotiveCMS and using Odoo live objects via erpify or their Solr cache via solarize all that inside the Liquid templating language. That is bridging Odoo for the backend, LocomotiveCMS and Shopify technologies with the minimum amount of code, all standing on the Rails giant (you know the guy powering tha

[2015-11-12 14:09] max3903 commented on #108
I don't mind having them all in one module, but anyone should be able to configure any possible combinations.

[2015-11-12 23:44] lisandi commented on #108
That would be also a possibility

something like checkboxes to choose from individually for each customer.
But that would actually be the same like installing them via the
module/apps manager

Also customers could enable any snippet afterwards very easily themselves
and your earnings would be gone ;-)

If those are separrate snippets they would need to install them themselves
at least which is a b

[2015-11-13 08:13] yajo commented on #108
You choose snippets by dragging them, what you say is some extra work for no extra benefit. If you want to choose which snippets to add, then we put 1 snippet per module and you install those you want.

[2015-11-13 08:20] treviser commented on #108
FYI: Covering all 25 themes available so far, we have about 90 snippets/building blocks available in Odoo Website Themes.

[2015-11-14 01:13] lisandi commented on #108
@Yajo
This is what I prefer the most as this would be also the best option to add
new snippets by the community, test snippets separately on a one by one
base, and the "integrator" can choose what he wants to put available for
the customer or not.
All snippets could actually be installed into a separate custom_snippet (a
usual odoo-addon) folder and added to the addons paths, so it is much
easier

[2015-11-26 06:21] rafaelbn opened #119 "[9.0] Moving modules from v8 OCA/website to v9 OCA/e-commerce"
Hi all,

This is an issue to discuss which modules we will move to OCA/e-commerce and which we won't

As discussed we must take this moment of moving to v9 to move modules to the correct repository.

All modules which depends from website_sale must be moved to OCA/e-commerce:

- website_event_register_free_with_sale
- website_sale_collapse_categories
- website_sale_order_company
- website_sale_uns

[2015-11-26 09:02] eLBati commented on #119
I agree

[2015-11-26 09:03] pedrobaeza commented on #119
Please write this on the open issue about migration to 9.0

[2015-11-26 09:17] rafaelbn commented on #119
Which is the open issue about migration to 9.0?

[2015-11-26 09:20] pedrobaeza commented on #119
https://github.com/OCA/website/issues/85

[2015-11-26 09:23] rafaelbn commented on #85
Ref with https://github.com/OCA/website/issues/119

[9.0] Moving modules from v8 OCA/website to v9 OCA/e-commerce #119

As discussed we must take this moment of moving to v9 to move modules to the correct repository.

All modules which depends from website_sale must be moved to OCA/e-commerce:

[code]

If you agree this 5 modules will go to https://github.com/OCA/e-commerce/tree/9.0

[2015-11-26 18:02] rafaelbn commented on #119
Closing for make discussion in https://github.com/OCA/website/issues/85

[2015-11-26 18:02] #119 closed

[2015-12-04 23:46] pedrobaeza opened #123 "[8.0] website_legal_page: Texts not translatable"
module: website_legal_page
version: 8.0

**Steps to reproduce**
- Export translation for this module
- You'll see only 3 strings, but the legal page texts are not exported.

cc @antespi @Yajo

[2015-12-27 05:09] CytraL opened #135 "[8.0][website_cookie_notice] cookiecuttr.css forgotten?"
9.0 version has it, but not 8.0...

[2015-12-31 12:29] rafaelbn commented on #135
cc @yajo @dgzurita @antespi

[2016-01-04 15:47] yajo commented on #135
In 8.0 it was updated in https://github.com/OCA/website/pull/96/, and removed since it serves for nothing.

[2016-01-06 20:54] max3903 opened #139 "website_blog_publication_date"
This module adds a publication date field on a blog post to store the date when the post was published. This field is also used to sort public blog posts, instead of using the creation date.

[2016-01-07 02:05] pedrobaeza commented on #139
I think https://github.com/OCA/website/tree/8.0/website_blog_mgmt makes something similar.

[2016-01-07 08:18] lmignon commented on #139
@max3903 As mentioned by @pedrobaeza this functionality is provided by  https://github.com/OCA/website/tree/8.0/website_blog_mgmt

[2016-01-07 14:21] max3903 commented on #139
My bad! I am surprised by the name though. Thanks!

[2016-01-07 14:21] #139 closed

[2016-01-13 14:42] andhit-r opened #144 "[website_cookie_notice] insecure content after click on cookie notice"
Hi,

My odoo server runs behind nginx. All traffic redirect to https. With website_cookie_notice installed, after visitor click on cookie notice insecure content warning always shows. Tried to uninstall website_cookie_notice, no insecure content warning shows.

[2016-01-27 09:27] michaelkarrer81 opened #150 "[8.0][website_legal_page] Xpath Expression breaks update and install !"
@pedrobaeza @rafaelbn The Xpath expressions
[code]
in
- https://github.com/OCA/website/blob/8.0/website_legal_page/views/website_legal.xml#L9
- https://github.com/OCA/website/blob/8.0/website_legal_page/views/website_privacy.xml#L9
- https://github.com/OCA/website/blob/8.0/website_legal_page/views/website_terms.xml#L9

breaks installation or update of this addon since there is no footer element in

[2016-01-27 09:44] pedrobaeza commented on #150
For me looks good, maybe:

[code]

avoids problems when this field is in another part.

[2016-01-27 09:52] rafaelbn commented on #150
@antespi please could you review this?

[2016-01-27 13:07] andhit-r opened #151 "[8.0][website_slide] Demo data error"
My PR #149 got error on travis and runbot because one of the demo data raise an error

`File "/home/travis/build/OCA/website/website_slides/models/slides.py", line 434, in create
values['url']).get('values', dict())`
`File "/home/travis/build/OCA/website/website_slides/models/slides.py", line 581, in _parse_document_url
document_id, only_preview_fields)`
`File "/home/travis/build/OCA/website/websi

[2016-01-27 13:10] pedrobaeza commented on #151
Are you sure the problem is that? Have you tried to put another link? If so, please make a PR changing this with something like for example https://www.youtube.com/watch?v=bncoCFGYucI

[2016-01-27 13:33] andhit-r commented on #151
Yes @pedrobaeza . I have tried:
1. Create fresh DB with demo option. Failed on installation of website_slide
2. I change xml into valid Youtube URL. Success

Then I tried:
1. Create fresh DB without demo option
2. Install website_slide. Success.
3. Create a slide with youtube link https://www.youtube.com/watch?v=C_Laaz4mORg . No error message. But no respon on screen.
![website_slide_error](https:

[2016-01-27 14:06] pedrobaeza commented on #151
Thanks for the insights, but the way to test it is to install the bd with demo, but changing the url to one valid. Can you please try?

[2016-01-27 15:22] andhit-r commented on #151
I have a create PR for this #152 . Travis passed but runbot failed. Trying to rebuild runbot now.

[2016-01-28 06:58] michaelkarrer81 commented on #150
[code]

would still fail on my side. Only this works

[code]

since there is no `<footer>...</footer>` tag in the inherited view.

[2016-01-28 07:12] pedrobaeza commented on #150
@Yajo @antespi, can you check?

[2016-01-29 16:12] david-vdv opened #157 "Error after installation"
After installation, I get the following error message above the web editor menu bar.
Could not get content for  website_snippet_marginless_gallery/static/src/css/website_snippet_marginless_gallery.css defined in bundle 'website.assets_frontend'

Any Idea how I can fix this?
The snippet seems to work but I don't get a dialog that asks for standard height of the images.

[2016-01-29 16:15] pedrobaeza commented on #157
Restart the Odoo service and press reload your browser.

[2016-01-29 16:46] david-vdv commented on #157
That did the trick, thanks for the quick response.

[2016-01-29 16:46] #157 closed

[2016-01-30 18:16] andhit-r commented on #151
Closed with #152

[2016-01-30 18:16] #151 closed

[2016-02-01 12:25] yajo commented on #150
Enter any v8 website runbot and you will see the legal pages correctly added to the footer. This seems a local bug of your installation. Probably you changed manually or by any addon/theme `website.layout` or `website.layout_footer_copyright` views.

[2016-02-02 07:19] michaelkarrer81 commented on #150
@Yajo @pedrobaeza  @rafaelbn  Thank you for your answer but my installation is a stock oca 8.0 core with just this addon for testing?!? Really strange that it works on runbot flawlessly. Maybe there is a different Xpath processing since i am testing this on mac osx?

**Anyway:** If i look into the the view `website.layout_footer_copyright` you are inheriting from there is no footer tag at all:

[c

[2016-02-02 08:10] yajo commented on #150
Yes, there is no `<footer>` tag, but you inherit from `website.layout`, which has it. Please post your logs. Also check the `website.layout` template and all its inherited ones, to see if they remove the footer in any point.

[2016-02-02 08:29] michaelkarrer81 commented on #150
@Yajo Thanks for your answer. I will post my logs but like i said i have stock OCA 8.0 so no other addons are involved. Also the `<footer>` tag is rendered in the website so it is there and not removed.

@Yajo @rafaelbn @dreispt Are you sure that all inherited views are always rendered before the "next" inheriting views Xpath expression is used? **Do you maybe know any other example in the odoo ad

[2016-02-02 08:51] yajo commented on #150
As you can see, runbot works; that's enough proof to me.

The steps to fix a bug are:
1. Reproduce it.
2. Find the problem.
3. Fix it.

Let's stick to step 1 before going forward, or we might be fixing a bug where it is not.

[2016-02-02 10:08] pedrobaeza commented on #150
Maybe it's a lxml problem, that acts different on MacOS...

[2016-02-02 10:16] yajo commented on #150
That would be weird, don't you think? Python is cross-platform by nature.

[2016-02-02 10:22] pedrobaeza commented on #150
But I don't find any other explanation...

[2016-02-02 10:43] michaelkarrer81 commented on #150
It is really something we should investigate on.

Again it would be really helpful if someone could point out an example in the regular core where the XPATH expression does not directly belong to the inherited view but to the calculated XML! So we know this should be working by default.

If this is the case there should be "a lot of" XPath expressions that can be found - but right now i can not re

[2016-02-02 11:12] yajo commented on #123
Any clues on why?

[2016-02-02 13:30] michaelkarrer81 commented on #150
since i do have no time for additional investigations on that issue and it seems that i am the only one who hit this problem i close the issue.

[2016-02-02 13:30] #150 closed

[2016-02-15 16:32] LeartS opened #164 "[8.0] [website_portal] Login redirection regression"
Commit https://github.com/OCA/website/commit/9141fe1b5166f32e10c87abdf120cebf5b190f1b introduced a regression. It absolutely should not redirect to `/` in every case, in particular it overrides redirects defined in the url, breaking for example login and signup from checkout page or every possible customization of the redirect from frontend modules/template modifications with the HTML editor.

[2016-02-15 16:34] pedrobaeza commented on #164
cc @sergio-incaser

[2016-02-15 16:49] LeartS commented on #164
Actually just noticed it was introduced in https://github.com/OCA/website/commit/5afd318fad7c2ddfb7e0fff096aac9a236d0f4cd cc @carlos-incaser

[2016-02-15 16:57] sergio-teruel commented on #164
@LeartS @pedrobaeza Yes your are right, I'll fix it...

[2016-03-02 04:17] lukebranch commented on #85
@pedrobaeza @rafaelbn ,

I just wanted to check with you both. Are there any plans to port:

website_portal_purchase

to version 9.0? This is a very useful module for many B2B companies and can be easily extended with extra features.

If there is no roadmap to port this to version 9.0 I will work on my own port, i'd just like to check if there is any current work on this before I get started.

[2016-03-02 07:11] pedrobaeza commented on #85
Not for now, @lukebranch, so I assign you the task in this issue. We'll review the PR when done.

[2016-03-02 07:19] lukebranch commented on #85
@pedrobaeza ,

Thanks, i'm not sure my port will be up to OCA standards, however if you'll bear with me I will do my best to match your requirements in the PR.

[2016-03-02 07:21] pedrobaeza commented on #85
I'm sure you can do it! I'll guide you in any doubt you have.

[2016-03-02 07:46] lukebranch commented on #85
@pedrobaeza ,

Thank you. I'll begin work on something next weekend.

[2016-03-07 19:49] insideth opened #174 "[8.0] [website_portal_sale] 500: Internal Server Error"
Viewing an invoice

Example URL: www.mysite.com/report/pdf/account.report_invoice/29

Error message: list index out of range

Dump:

`Traceback (most recent call last):
  File "/opt/odoo/odoo/addons/website/models/ir_http.py", line 199, in _handle_exception
    response = super(ir_http, self)._handle_exception(exception)
  File "/opt/odoo/odoo/openerp/addons/base/ir/ir_http.py", line 145, in _hand

[2016-03-07 21:01] rafaelbn commented on #174
I close as error doesn't occur

http://3143034-8-0-f0e589.runbot1.odoo-community.org/my/home

![2016-03-07_22-00-39](https://cloud.githubusercontent.com/assets/8736623/13583138/1ba02750-e4b0-11e5-81c0-a850dab0b750.png)

[2016-03-07 21:01] #174 closed

[2016-03-07 21:02] rafaelbn commented on #174
@insideth please reproduce error in runbot, thanks!

[2016-03-28 07:59] shahid-malik commented on #51
Anyone got the solution of the problem ?

[2016-03-31 13:23] tarteo opened #185 "[8.0] [website_calendar_snippet] DST error"
The start and end date are not calculated with DST.

[2016-04-01 00:38] pedrobaeza commented on #185
I close this issue as there is a PR opened, and we can comment there possible problems,

[2016-04-01 00:38] #185 closed

[2016-04-04 11:21] mgielissen opened #187 "[8.0] [website_portal] Online quote not available"
When the website_portal module is enabled, the **Show Online Quote** hyperlink in a mail doesn't work.

[2016-04-18 08:11] treviser opened #190 "[9.0]website_logo: ported to 9.0: Need help to make it public"
Hi
I have ported website_logo to 9.0, but I'm not a developer and have no idea what to do to make it available to others.
I had only to change the file website_logo/views/company_view.xml to

[code]

and now it seems to work for 9.0.

[2016-04-18 15:32] lasley commented on #190
Thanks for the submission, @treviser - Module upgraded & PR submitted

[2016-04-18 15:55] treviser commented on #190
Thanks a lot @lasley !

[2016-04-18 16:57] #190 closed

[2016-04-20 14:31] lasley commented on #144
This is due to the link to http://www.allaboutcookies.org/ which does not provide an SSL version. This site is spammy anyways; I'll submit a PR to change the URI to Wikipedia or something instead

[2016-04-20 14:45] pedrobaeza commented on #144
We follow the issue on the PR.

[2016-04-20 14:45] #144 closed

[2016-04-26 12:18] Whytehorse opened #196 "Wrong contact us info"
The website uses the email of the "related user" for the HR employee who installed/created the website. Instead, it should use the company email specified in the company information.

Not really sure how else to explain it. The little blob that says "connect with us" has the correct data but when one goes to the page /page/website.contactus the contact info is not correct. It seems to be the conta

[2016-04-26 12:20] pedrobaeza commented on #196
The contact us form is from Odoo core, not from an OCA addon, so please put this issue on odoo/odoo.

[2016-04-26 12:20] #196 closed

[2016-05-20 06:51] treviser opened #199 "website_logo: original company logo is unnecessarly converted to a square image which leads to ugly reports"
When I install website_logo, the image size of the original company_logo is changed to a square image and the logo is vertically centered. Example: I have a logo with a relationship of width 2 units and height 1 unit. The module creates a square company logo (width 2 units, height 2 units) where my original logo is vertically centered. Without installing the module, my company logo keeps the origi

[2016-05-26 11:10] yajo commented on #85
I will migrate `website_portal_purchase`.

[2016-05-26 11:18] yajo commented on #85
Oh I did not see that @lukebranch has it. How is your work going on? Thanks.

[2016-05-26 12:45] treviser commented on #199
@lasley Do you have any idea why that happens?

[2016-05-26 16:06] lasley commented on #199
Hi @treviser

I don't see how this module could be touching your logo; we're not even importing any of the image translation tools. It seems to work just fine on my local as well.

Just to make sure I'm understanding correctly, your logo is transformed to a square immediately after installing this module? The change is immediately noticeable on the left nav bar?

[2016-05-27 13:53] yajo commented on #85
@lukebranch is silent, I take the job.

[2016-05-28 07:15] lukebranch commented on #85
@Yajo ,

My apologies, i've been too busy to even get started on that project.

I plan to build an extension to the module later on that will allow manufacturers/suppliers to login and input what is being sent and what is going to be a backorder (this is a common use case in a few of our companies).

I'd be very interested to checkout a PR once you've started work on this.

[2016-05-30 07:25] yajo commented on #85
my work is started already: https://github.com/Tecnativa/website/tree/9.0-website_portal_purchase-migration. I'll mention you when I pr

[2016-05-30 14:33] treviser commented on #199
It is very strange, I have to further investigate the issue. It does work without the module for logos which have not been used before while the module was installed. But if I do uninstall the module and try to use the same logo which was uploaded once with the module installed (even if I upload it again) it is squared.

[2016-05-31 04:21] lukebranch commented on #85
@Yajo ,

Thanks.

[2016-06-06 13:33] yajo commented on #85
I'll start with `website_product_supplier`, and I will rename it to `website_portal_purchase_product` in v9.

[2016-06-09 14:22] max3903 opened #209 "website_integrator for odoo-community.org"
[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=38333027)](https://www.bountysource.com/issues/38333027-website_integrator?utm_source=38333027&utm_medium=shield&utm_campaign=ISSUE_BADGE)

The OCA is using website_partner to display the list of OCA sponsors on http://www.odoo-community.org.

We would like to display a second list for integrators. The partner page can be the same

[2016-06-10 02:29] lukebranch commented on #85
@Yajo ,

Thanks for the update, I'm going to start testing your backport of the website_portal from v10 this week.

[2016-06-13 11:13] ManishS-OpusVL commented on #209
Hi Maxime,

There is one module called **_'website_crm_partner_assign'._** which could be useful for this requirement. This module allows creating different Grades like Resellers, Integrators, Sponsors, etc as per requirement and mapping that with required partners present in Odoo db and which can be further published on to the desired web page.

A screenshot of sample page I created while testing

[2016-06-13 14:16] ManishS-OpusVL commented on #209
Hi Maxime,

Adding further to my comment, here are the steps details to be followed after installation of this module **_''website_crm_partner_assign''._**

**1) Create a new Partner Grade say, 'Integrators' using below steps.**
     - Go to Sales -> Configuration -> Leads & Opportunities -> Partner grade.
     - Click  on 'Create' button
     - Enter Grade name as 'Integrators' and make sure 'Pub

[2016-06-15 00:26] max3903 commented on #209
@ManishS-OpusVL Sorry for the confusion. This is what we are currently using for the sponsorship level.

[2016-06-16 08:09] ManishS-OpusVL commented on #209
Hi Maxime,

I have found a new module called **_'website_customer'_** which can be used for Integrators page  alongwith the existing module _**'website_partner/website_crm_partner_assign'.**_ for Sponsors page.

I have tested by installing both these modules and were able to produce both 'Sponsors' & 'Integrators' page simultaneously without any conflict.

I have enclosed here the screenshot of my

[2016-06-16 09:14] elicoidal commented on #209
:+1:

[2016-06-16 17:17] max3903 commented on #209
@ManishS-OpusVL We planned to use website_customer to display references.
@OCA/board Shall we change the plan? So far I haven't received any content for that section.

[2016-06-30 17:11] lasley opened #218 "Runbot Redirect for Website 9.0 branch yields 404"
If you try to use the ReadMe Runbot URI for v9 branch of website, you will get a 404 error:

404 - https://runbot.odoo-community.org/runbot/186/9.0
200 - https://runbot.odoo-community.org/runbot/186/8.0

[2016-07-05 15:46] collex100 opened #220 "[8.0][website_slide] 403: Forbidden"
On the demo page:
http://3150062-8-0-2e960e.runbot2.odoo-community.org/slides
there is a warning
403: Forbidden
When I installed I got the same warning.
Please tell me how to fix it? Thank you!

[2016-07-05 16:38] rafaelbn commented on #220
Please @collex100 open the issue following the link provided in the module:

https://github.com/OCA/website/issues/new?body=module:%20website_slides%0Aversion:%208.0%0A%0A**Steps%20to%20reproduce**%0A-%20...%0A%0A**Current%20behavior**%0A%0A**Expected%20behavior**

Thanks!

[2016-07-05 16:44] collex100 opened #222 "[8.0][website_slide] 403: Forbidden"
module: website_slides
version: 8.0

**Steps to reproduce**
Install the module and go to the page which should open the home page slide.

On the demo page:
http://3150062-8-0-2e960e.runbot2.odoo-community.org/slides
there is a warning
403: Forbidden
When I installed I got the same warning.

**Current behavior**
403: Forbidden

**Expected behavior**
Homepage slide

Please tell me how to fix it? Tha

[2016-07-05 16:48] #220 closed

[2016-07-05 23:20] rafaelbn commented on #222
Tested in runbot: http://3150084-8-0-958eb6.runbot1.odoo-community.org/slides

I tried also with admin user and same error:

[code]

[2016-07-05 23:26] rafaelbn commented on #222
Hi @collex100 if you try in a base database the error doesn't happens. So it look that some module breaks functionality. Check here:

http://3150084-8-0-958eb6.runbot1.odoo-community.org and select a base database.

[2016-07-05 23:31] rafaelbn commented on #222
Hi @Yajo , this issue is because https://github.com/OCA/website/tree/8.0/website_seo_redirection. Please fix it. @collex100 If you uninstall that module it works!

cc @pedrobaeza @sergio-teruel

[2016-07-06 05:53] collex100 commented on #222
Thanks a lot! The module is works!

[2016-07-09 00:40] rafaelbn commented on #98
Solved not sure where...

[2016-07-09 00:40] #98 closed

[2016-07-15 08:14] yajo commented on #85
I'm starting `website_snippet_country_dropdown`

[2016-07-21 18:35] josugm commented on #34
Hi, I found what is causing the "anti-scroll" effect. In the css there are about 65 times where the option "overflow: hidden" is used. If you change them to "overflow: scroll" it starts working back again the way it should.
I don't know how to change the css in the code. I guess if you could help me with this...

[2016-07-21 19:05] hbrunn commented on #34
you'll have to hook in here: https://github.com/OCA/website/blob/8.0/website_backend_views/view/templates.xml#L13 and not just call the template, but a modified version of it. Or, a lot simpler, reference a css file afterwards, that overrides the relevant properties with !important

[2016-07-22 15:24] josugm commented on #34
Solved. Add
body {
  overflow: scroll !important;
}
to website_backend_views.css and scroll works again. Thanks for your help

[2016-07-22 15:24] Garamotte commented on #218
Already discussed here : https://github.com/OCA/knowledge/issues/86

[2016-07-22 15:38] pedrobaeza commented on #218
I close this one to continue in the other issue.

[2016-07-22 15:38] #218 closed

[2016-07-29 11:05] gonxi commented on #51
in my case the problem is solved moving the website_product_filters module from vauxoo out of addons path. (this module was donwloaded from "Apps in line")
https://apps.odoo.com/apps/modules/8.0/website_product_filters/
is possible that you have this module?

[2016-07-29 14:35] yajo commented on #222
Please see #240

[2016-07-29 18:48] rafaelbn commented on #222
Solved in https://github.com/OCA/website/pull/240

[2016-07-29 18:48] #222 closed

[2016-08-12 16:12] laurent2a commented on #85
Hello,
I need **website_backend_views** module for à personal project on V9, so i am going to work on the module migration.
Do you have any idea of what can cause the installation problem on V9 ?
Laurent

[2016-08-12 16:16] lasley commented on #85
Hi @laurent2a - I have tried that upgrade a few times and ran into issues, although I can't find my documentation as to what. If you would like to save a lot of work, feel free to base off my branch - https://github.com/laslabs/website/tree/feature/9.0/upgrade-website_backend_views

FYI we're working on an initiative to break the backend sandbox in OCA/web#402, which should solve the problem noted

[2016-08-12 16:29] laurent2a commented on #85
Ok thanks a lot lasley, I look at your branch.

[2016-08-13 08:54] laurent2a commented on #85
Hi lasley,
I have just tryed your banch last commit: ec3ee47c62007a071791c9cebcad97eb8740af7f on windows7, and get this error message on installation :

[code]

Is there a better place for this discussion ?

[2016-08-31 16:54] lasley opened #247 "Coveralls not reporting to PRs"
Coveralls are running via the `travis_after_tests_success`, but not reporting back to PRs for success/fail.

Example is #217 and the relevant Coveralls - https://coveralls.io/builds/7691307

IIRC this is supposed to be an automated thing, so not sure what's up. Figured it was worth an issue for tracking.

[2016-08-31 16:57] pedrobaeza commented on #247
Maybe the problem is the indentation of this line: https://github.com/OCA/website/blob/ed81d5b49507841599d4d11357b62079f096c0fb/.travis.yml#L38

[2016-08-31 21:29] lasley commented on #247
@pedrobaeza - the YML still parses though, so I don't think that's it. I tried to test this [using a PR in the LasLabs repo](https://github.com/laslabs/website/pull/1), and Coveralls is working fine. This leads me to believe that the notification settings in the Coveralls project have been edited for some reason.

[2016-08-31 22:40] pedrobaeza commented on #247
I have just checked and it's not that:

![seleccion_001](https://cloud.githubusercontent.com/assets/7165771/18148809/6559dac8-6fdc-11e6-8381-e83da7d20298.png)

We have to assume that coveralls fails sometimes. There's a proposal to replace it with Codecov: https://github.com/OCA/maintainer-quality-tools/pull/342

I'm going to enable it to have the double check.

[2016-08-31 22:43] pedrobaeza commented on #247
Please rebase and see what happens

[2016-08-31 22:54] lasley commented on #247
I crossed some Git wires accidentally instead of a simple rebase, but desired effect of triggering a new build was achieved. No go on the coverage still 😦

[2016-08-31 22:56] pedrobaeza commented on #247
Sorry, I also crossed PRs and didn't merge the required one. Try again now.

[2016-08-31 23:17] lasley commented on #247
Closing - Codecov is amazing, Coveralls smells

[2016-08-31 23:17] #247 closed

[2016-09-23 05:07] nhomar commented on #209
I am not agree of display this page sorry.

It is an unfear competition directly with partner program on odoo.

At least we define first the rules to be promoted here.

The main reason here from my PoV is that it does not add any value different from the fact of build a network of unfear competition.

But may be I do not know the hole vision.

[2016-10-04 11:52] michaelkarrer81 opened #261 "[8.0] website_legal_page xpath with "." in attribute value will not work with lxml 3.3.5"
It seems that lxml on mac and some linux distributions will not work with "." dots in attribute values which will prevent website_legal_page from installing.

`AttributeError: Element '<xpath expr="//footer//div/span[@t-field='res_company.name']">'``

Any clue why on some platforms "." is not a valid character in xpath attribute values?

lxml version is 3.3.5 (but will still fails with 3.6.4 on Ma

[2016-10-04 12:01] pedrobaeza commented on #261
But I don't see any `.` in that xpath...

[2016-10-04 12:09] michaelkarrer81 commented on #261
It's in the value of the attribute @t-field `res_company.name`

"res_company" is separated from "name" with a dot.

This also happened when i tried my own xpath selectors with a "." in an attribute value so it seems this might be a more generic problem.

If i change the selector to  `<xpath expr="//footer//div/span">` it works. Even if the selector is much "worse" now.

Since i guess the installat

[2016-10-04 12:15] pedrobaeza commented on #261
Wow, it's in that part!! I can't believe it. I can imagine the problem, but we can't workaround this I'm afraid.

[2016-10-04 12:21] michaelkarrer81 commented on #261
Would you point me in the direction where you think the error results from?

Because with more website qweb templates xpath selectors like this will be more and more common. If this prevents odoo (or at least some addons) to install on certain platforms we shoudl either fix this or avoid dots in attribute values at all.

I tried other workarounds like escaping the dot or using xpath functions like

[2016-10-04 12:25] pedrobaeza commented on #261
I'm afraid I don't have any clue. What you can do is to mount an example in pure Python and report to the lxml project.

[2016-10-04 12:58] michaelkarrer81 commented on #261
I found a way that would work:

`<xpath expr="//footer//span[contains(@t-field, 'res_company.name')]" position="after">`

[2016-10-04 13:02] pedrobaeza commented on #261
Well, we can switch then to that form, but as it's not the usual one, we can expect another modules that appears using the other technique. You are too lonely in the Mac world...

[2016-10-04 13:07] michaelkarrer81 commented on #261
Would be really great if at least in the OCA addons we could use this "works everywhere" format of such xpath selectors.

Would you accept a merge request if i change this in website_legal_page?

I am not convinced that this is MacOS related. I guess it's some Python package or a real odoo bug. Since i do not know enough about the internals of odoo and how they parse the xpath selectors i am not a

[2016-10-06 14:13] pedrobaeza opened #262 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [x] website_analytics_piwik - By @astirpe - #338
- [x] website_anchor_smooth_scroll - By @Tardo #347
- [x] website_canonical_url - By @simahawk - #449
- [ ] website_backend_views
- [ ] website_blog_facebook_comment
- [ ] website_blog_mgmt
- [x] website_breadcrumb - By @JonathanNEMRY - #339
- [x] w

[2016-10-11 08:27] angelmoya opened #263 "[8.0] website_event_register_free - Register public user without event seats_max"
After install website_event_register_free:

- Create event without event seats_max, set only name and dates (minimun data), and do public to be available on website
- Without login on website (with public user) go to event, set quantity of tickets and click on register now.
- As you are not logged, you must to set data (name, company, email, telephone), but quantity selector is not shown

I'm work

[2016-10-12 14:13] max3903 commented on #209
@nhomar Odoo Partner Program is only based on revenues from Odoo Enterprise.

The integrator page aims to provide a better portrait/history of an integrator within the Odoo ecosystem with:
- his Odoo Partnership level
- his OCA Sponsorship level
- his references
- his employees
- their contributions based on the Github statistics from @legalsylvain module
- their membership history and status
- th

[2016-10-12 17:01] pedrobaeza commented on #263
Closing as there's a PR

[2016-10-12 17:01] #263 closed

[2016-10-23 14:42] dreispt commented on #209
@max3903 I experimented to add a BountySource badge to the issue description.

[2016-10-23 14:51] dreispt commented on #209
@max3903 We should have a `has_bounty` Label, but I can't create it.

[2016-11-15 17:35] lasley opened #282 "[9.0] Travis failing on SASS execution"
First reported in #279, also noticed in #277. I rebuilt 9.0 branch on Travis, and it is now failing in the same way: https://travis-ci.org/OCA/website/builds/167816895

[code]

[2016-11-15 17:37] pedrobaeza commented on #282
We have faced the same issue and tried to fix it with https://github.com/OCA/website/pull/277/files#diff-354f30a63fb0907d4ad57269548329e3R32

[2016-11-15 17:46] lasley commented on #282
You're still getting SASS issues there too though (albeit not as bad):

[code]

Do we have any idea what the SASS is actually being used for? I'm confused why bootstrap-sass is even a thing; Odoo uses bootstrap-less 😕

[2016-11-15 17:51] pedrobaeza commented on #282
AFAIK they used both. Then we also need to install another thing more...

[2016-11-15 20:44] lasley commented on #282
Closing, fixed in #284

[2016-11-15 20:44] #282 closed

[2016-11-17 10:37] sebalix opened #285 "[TRANSIFEX] Is the synchronization working?"
Hi,

I'm quite new to Transifex, and I was looking for information about the synchronization, I read somewhere (didn't remember...) that the Transifex sync was done once a week by a bot.
I made some translations one month ago (website_cookie_notice on branch 9.0, FR translations), but they are not merged yet. Is there a validation process? Or maybe I forgot something on Transifex... ?

Regards,

[2016-11-17 10:38] yajo commented on #285
It's failing ATM.

[2016-11-24 14:44] StephanRozendaal opened #289 "[9.0] website_logo does not load the logo"
website_logo does not load the logo.

In the code it tries to find a logo where the domain is equal to a name of a website ([see](https://github.com/OCA/website/blob/9.0/website_logo/controllers/main.py#L39)).
Is this as intended?

Shouldn't it be:
Take the logo where the domain is equal to the domain that is set on the website model.

[2016-11-29 00:22] pedrobaeza commented on #66
They should be working now.

[2016-11-29 00:22] #66 closed

[2016-11-30 07:22] pedrobaeza commented on #285
With this improvement https://github.com/OCA/maintainer-tools/pull/244 (already working in our bot) should be fixed.

[2016-11-30 07:22] #285 closed

[2016-11-30 08:12] sebalix commented on #285
Great, thank you @pedrobaeza , I confirm that the translations have been updated.

[2016-12-05 10:03] Shiraj-Nisus opened #292 "Website title cannot update"
We have used this module for ULR redirection and works fine.Recently I have noticed that Page Title doesn't update and I have uninstalled this module for testing.Once it removed from the system I could able to renamed/update page titles under "SEO optimize".Hope this is a bug/issue and may be specific to EN version.

Tested on Odoo V9 Enterprise version

[2016-12-05 18:54] collex100 opened #293 "[10.0] Website legal page - Whether it is working with version 10?"
I can not install. After importing an error. If in the catalog odoo not see.
Thank you!

[2016-12-05 19:10] lasley commented on #293
Hi @collex100 - website_legal_page is not upgraded to v10. In the future, please check the Migration issue in each repo in order to determine the status of a module's migration. It is #262 in this repo.

[2016-12-05 19:10] #293 closed

[2016-12-16 11:19] lucode commented on #289
I would be happy if this could be fixed.
Note: Read me is not related to Version 9 where the logo sites in Website Admin menu.

[2016-12-16 11:29] StephanRozendaal commented on #289
I would be happy to fix it! And I'll also take a look at the read me and bring it up to date.

[2016-12-19 08:30] Yajo opened #296 "[9.0][website_seo_redirection] Broken test"
There seems to be a broken test in this addon that breaks all PRs in branch. I'm gonna fix it, just taking public note of it.

@Tecnativa

[2016-12-19 11:05] yajo commented on #296
Closed in #297

[2016-12-19 11:05] #296 closed

[2016-12-21 16:03] lucode opened #304 "[9.0] website_snippet_anchor is blocking menu"
This module is blocking the editing of the menu from frontend and backend.
see the forum post:
https://www.odoo.com/de_DE/forum/hilfe-1/question/v9-website-menu-is-blocked-for-editing-111990

[2016-12-21 16:08] pedrobaeza commented on #304
Please try on runbot to see if you reproduce the problem.

[2016-12-22 10:54] rafaelbn commented on #304
Please @lucode try here http://3275938-9-0-3c6c72.runbot1.odoo-community.org/?db=3275938-9-0-3c6c72-all (admin/admin) and let us know if you can reproduce problem. Thanks

[2016-12-25 10:08] lucode commented on #304
It does reproduce the error in runbot. No editing of Menu entries possible.

[2016-12-27 17:32] lucode commented on #289
I just recognized that the module works fine if you have a one database system. When I use dbfilter=^%h$ it does not work with more then one database. Webserver is nginx.

[2016-12-28 11:16] yajo commented on #55
This is probably due to having customizations in view, and probably fixed in newer versions (the issue is quite old). So, closing. Reopen if needed.

[2016-12-28 11:16] #55 closed

[2016-12-28 11:18] #135 closed

[2017-01-04 12:02] pedrobaeza commented on #304
@Yajo, can you check?

[2017-01-04 12:53] pawanpandeyenuke commented on #292
Hi

I am getting the same issue on my website and did not find any solution. Did you find any solution?

[2017-01-05 03:21] Shiraj-Nisus commented on #292
Hi @pawanpandeyenuke

Yes I have solved the issue by doing a trick.Here how I did that.

Export all your URL redirection in to csv or excel
Remove all URL redirections
Uninstall the module
Clean cache (if needed)
Correct website titles
Install redirection module
import exported URLs

This way I got it to work.Hopefully developers will fix the issue with next release.

[2017-01-05 11:59] yajo commented on #304
Right now I see this problem in main 9.0 branch build:

![captura de pantalla de 2017-01-05 12-58-18](https://cloud.githubusercontent.com/assets/973709/21679884/b06475f0-d346-11e6-8ed4-c579c174d9ef.png)

I know it from other times, let me add a couple of quick fixes and see if it works.

[2017-01-05 16:24] #304 closed

[2017-01-11 15:08] lucode commented on #289
Hi Stephan, sorry but I experience the same issue after installing your fixed version.

[2017-01-13 13:08] winston6071 opened #313 "[8.0] website seo redirection original URL is not available any longer after new entry"
create a new Entry
example:
original URL:
http://www.yourdomain.com/shop/product/testproduct-6
destination URL:
http://www.yourdomain.com/specials/testproduct-6
relocate "enabled"

The docu states that if this is set as described both links should work but run always into the destination URL.....
I was 100% sure that this already worked...
but now it does not anymore if i exactly do this above exa

[2017-01-16 16:35] StephanRozendaal commented on #289
@lucode Can you give me more details about your set-up?

What my fix included is that it matches the host value of the HTTP header of the incoming request to the domain field of an Odoo website.

Can you check the following:
 - Is the domain field set on the website in Odoo (It's somewhere in the website admin module)
 - Did you configure nginx so it preserves the host header of the incoming reque

[2017-01-16 17:00] lasley opened #314 "[RFC] website_domain: Restrict website to domain match"
This module will add a `domain_name` field to `website` & `website.config.settings`. I may instead make a `website.domain` model & use a o2m instead.

In v10, this module will also need to add a `website_id` field into the `website.config.settings`, similar to what we had in v9.

If a website has a domain name selected, it will be used as the website for that domain (assuming the user has been dir

[2017-01-16 17:06] pedrobaeza commented on #314
This is something Odoo makes by default in v9 AFAIK. In v10, the model is hidden, but you can just put a view to show them. Please try on v9 and tell me back.

[2017-01-16 17:19] lasley commented on #314
v9 still doesn't isolate by domain. This RFC is actually ripped from a proprietary module we made in v9 for one of our customers, but now another one needs it.

The multi-website functionality in v9 seemed kind of half-implemented really. You could create more websites, but there wasn't actually a way to direct a user to it that I could find. I'm thinking that's probably why they got rid of the se

[2017-01-16 17:30] pedrobaeza commented on #314
Well, I wasn't at charge of that thing, but I think there's a way for that... In v8 we have it with a fork of the odoo-extra module website_multi (https://github.com/Antiun/odoo-extra/tree/wip-website_multi/website_multi)

[2017-01-16 17:38] lasley commented on #314
Sweet thanks @pedrobaeza - I'll take a look at this and see what's still useful. I think a lot has been done by Odoo SA now, but I see some chunks in here that aren't. I don't see domain, but you guys have some logic I can hook into for that pretty easily.

I assume no problems with me migrating it to OCA, assuming it fits my needs and all that?

[2017-01-16 17:40] pedrobaeza commented on #314
Indeed no problems in you to take it. Anyway, that module was the seed for the multi-website support Odoo added in version 9, so for sure there are duplicated pieces. I would ask for support both in v9 and v10, as we are still using v9, but very soon with all in v10 of course!

[2017-01-17 08:42] thilina570 commented on #292
I'm getting the same error.
**Can't edit the page title after installing SEO-Redirection**
I have tested this on both odoo V9 Enterprise and Community. Both gives the same error.
When I try to edit the SEO stuff and save, the firebug console gives

in website.assets_editor.js: line 283:8
Save button just not working.

[2017-01-17 08:45] pedrobaeza commented on #292
@Yajo, can you check?

[2017-01-17 08:53] yajo commented on #292
This is useless, can you provide the logs when you are in debug mode? (Add `?debug=1` to your URL).

[2017-01-17 09:18] thilina570 commented on #292
@Yajo  got the log
This thing works on home page, but happen on other pages
2017-01-17 09:10:46,063 1392 INFO thilina werkzeug: 127.0.0.1 - - [17/Jan/2017 09:10:46] "GET /page/test2 HTTP/1.1" 200 -
2017-01-17 09:10:53,549 1392 INFO thilina werkzeug: 127.0.0.1 - - [17/Jan/2017 09:10:53] "POST /web/dataset/call HTTP/1.1" 200 -
2017-01-17 09:10:53,622 1392 INFO thilina werkzeug: 127.0.0.1 - - [17/Jan

[2017-01-17 09:22] yajo commented on #292
I mean the JS log. And please remember to write the logs between triple-backticks to get them easier to read 😉. Like this:

[code]

[2017-01-17 10:04] thilina570 commented on #292
Sorry about that formatting.
I found out this actually saving the page when I click "Discard" :) on 'Promote This Page' pop-up.
I couldn't fiend any JS log. I think you mean fire-bug console out-put? This is what it's giving. I agree with you it cannot be in this js as it's core odoo js file I think.
[code]
My friend said this module works fine in odoo 10.
Here is the openerp-server.log again with

[2017-01-17 10:48] yajo commented on #292
Please, read carefully: I need the JS logs with `?debug=1` in the URL.

[2017-01-17 11:02] thilina570 commented on #292
I think this is you are asking.
[code]

[2017-01-20 07:26] creativelabslk commented on #292
Any update on this. I'm stuck with the same issue here. :(

[2017-01-24 12:17] tarteo commented on #85
I'll port **website_calendar_snippet** in the upcoming weeks.

[2017-02-02 14:45] pedrobaeza commented on #289
As no answer, I close the issue.

[2017-02-02 14:45] #289 closed

[2017-02-02 14:46] pedrobaeza commented on #292
There isn't any still any JS log with debug mode activated as far as I see.

[2017-02-02 14:47] pedrobaeza commented on #313
You shouldn't do redirections with special URLs that are handled by controllers. Only on static pages.

[2017-02-02 14:47] #313 closed

[2017-02-02 14:48] pedrobaeza commented on #314
Dave, have you advanced something on this? Look this comment from Odoo: https://github.com/odoo/odoo/issues/15180#issuecomment-276954777. He mentioned that multi-website is not really supported on v10. `Only in advanced mode` is mentioned.

[2017-02-02 17:23] lasley commented on #314
We just finished 1:1 upgrading the proprietary module we made for a customer that does this, so it seems the strategy still works. They did remove some of the website configuration options from views in v10 (remember the double set of configuration in Website admin in 9), but it was easy enough to work around.

Any idea what this "Advanced Mode" he speaks of is?

We'll be abstracting and open sour

[2017-02-02 17:24] pedrobaeza commented on #314
I suppose that is the enterprise module _website_version_ , that includes the views for handling multiwebsites

[2017-02-02 17:32] lasley commented on #314
Oh interesting, so this is a feature they moved into Enterprise then. Haha it seems I always find myself recreating the Enterprise features in community!

We're still on track here & in light of the news that this is an Enterprise-only thing, I'm going to make sure that the ticket is in this coming sprint so we can tackle it sooner. The current module doesn't really do anyone any good outside of t

[2017-02-02 21:04] lasley commented on #314
Alright so I have no idea what he's talking about with the advanced mode - I think he means the A/B version editor. I cannot find any way to expose the parts of core that are required in order to make this work, both EE and CE

That said, the comment alluding to the pieces existing made me look further. There is already a `domain` field in the website model, and the website is [already determined

[2017-02-03 20:51] pedrobaeza commented on #314
@lasley, @JKE-be has been very kind of answering us about what he called "advanced mode": https://github.com/odoo/odoo/issues/15180#issuecomment-277355681.

[2017-02-09 08:42] simahawk opened #320 "notification settings and digest mail notification"
A customer needs digest notifications (weekly, daily, etc) on some website contents.
I wonder if there's already something there for:

* managing settings/subscriptions (a specific panel in user's home)
* a mailing list digest option
* any other goodie related to this subject :)

Any pointer? Any must-have? Any "I've done that, it's here[link]"? :smile:

[2017-02-11 14:09] pedrobaeza commented on #320
You can look in https://github.com/OCA/social/tree/9.0/mass_mailing_custom_unsubscribe for a certain automation on the first point when unsubscribing from the mail link and using mass mailing lists.

[2017-02-17 12:04] simahawk commented on #320
hmm maybe I'm wrong but I don't see any automation there, is just a way for customizing unsubscribe link in mass mailing.
I'll try to explain better what I want to achieve, maybe in a social PR.

[2017-03-01 12:16] Shiraj-Nisus opened #323 "Issue with multilanguage site using website_seo_redirection module"
Hi developers of website_seo_redirection module,

We have a problem with language selector after installed website_seo_redirection module.Issue is that it doesnt remember the selected language and trying to redirect to users language.

ex: In German PC it auto detects the German language.When we click English it goes to English page very first time.There after any page you click it again trying to

[2017-03-08 11:47] lucode commented on #289
Sorry for the late answer @StephanRozendaal did miss your reply:
I can't find a domain field in website admin only the Website Name. But the system parameter web.base.url is set correct. I us nginx with the following configuration related to host header:
[code]

[code]

[2017-03-14 16:13] StephanRozendaal commented on #289
@lucode: The domain in website admin is hidden beneath a pop-up triggered by a button at the top of the website form. It's the button next to the drop-down of all the websites that are in the system.

[2017-03-14 22:50] kkoci opened #325 "Website with permissions"
Hi

Is there a module on this repo, which can render products or webpages according to the user logged in into the ecommerce?

Or something similar to this?

Best Regards

[2017-03-15 07:48] simahawk commented on #325
Hi,

what do you mean precisely?

You can use `groups` attribute on html elements too.

Note that if you use `group_portal` you cannot catch anonymous users since
the anonymous user is actually an odoo fake user.

To catch anon users use an IF block like `<t t-if="request.session.uid">`.

Anyway, it depends on what you are trying to achieve, so maybe you don't
need a std module but just a small cu

[2017-03-15 14:13] kkoci commented on #325
Thank You very much!

Awesome

[2017-03-16 18:25] eugen-don commented on #262
Hi @pedrobaeza
could you assing me to the module migration.
I have seen the issue https://github.com/OCA/website/issues/293

In my opinion website_legal_page is one of the general modules any startup/ small business needs to stay legal and avoid  written warnings... especially important for startups who have not yet acquired a legal protection insurance...

Could you assign me to the migration of

[2017-03-16 18:55] pedrobaeza commented on #262
But there's already a PR in progress. See this issue that is mentioned.

[2017-03-17 04:10] eugen-don commented on #262
OK, sorry for the confusion, Iam still new to github...

[2017-03-18 17:07] lasley opened #327 "[RFC] website_snippet_code: Code w/ syntax highlighting"
This module will provide a website snippet for code, complete with syntax highlighting. Something like what I have in my existing Wordpress with [GeSHi](http://qbnz.com/highlighter/):
* ![image](https://cloud.githubusercontent.com/assets/7397578/24074294/0761b642-0bc3-11e7-8ddb-46296ea35e70.png)

The typical strategy for this is to pass the code data through a filter, such as [Pygments](http://pyg

[2017-03-18 17:30] lasley opened #328 "[RFC] website_blog_category: Categories for Blogs"
This module will provide the ability to categorize blog posts in a similar fashion to the existing website_sale categorization, and to mirror other blogs - such as Wordpress. Categories are significantly more useful than tags for browsing in my opinion.

This feature will be accomplished by creating a `blog.category` model, and a corresponding `website_category_id` one2many field on `blog.post`. B

[2017-03-20 19:15] lasley opened #330 "[RFC] website_blog_permalink: Canonical Blog URIs"
This module will allow for the configuration of canonical blog URIs, similar to the way that Wordpress does.

It will leverage [`website_seo_redirection`](https://github.com/OCA/website/pull/329) to redirect the pages. An option will be provided for the permalinks to either move the page or simply redirect. The default will be to move the page (`website.seo.redirection.relocate_controller = True`)

[2017-03-20 19:35] pedrobaeza commented on #330
Good idea, but no, I don't know anything in this matter.

[2017-03-20 23:06] lasley commented on #328
Closing to track in PR #331

[2017-03-20 23:06] #328 closed

[2017-03-21 07:50] simahawk commented on #330
@lasley nice thing to have. I won't limit it just to blogs tough. This is the typical use case but you could benefit from this base feature in several situations (events, just to name one).
I'm not aware on any implementation in odoo ecosystem.

[2017-04-25 20:29] lasley opened #334 "[RFC] website_wow: Universal Snippet Animations"
This module will provide [WowJS](https://github.com/matthieua/WOW) animations, which is basically just a wrapper on top of the [animate.css](https://github.com/daneden/animate.css) library we all know and love.

Note that there is commercial licensing for this, but as long as we're open source it's GPLv3 which works just fine for us! _To the LasLabs engineer implementing this - we cannot release t

[2017-04-26 00:05] lasley commented on #334
Derp dunno how I didn't know about [`website_animate`](https://www.odoo.com/apps/modules/10.0/website_animate/). It's not animate.css or WowJS, but it already exists!

[2017-04-26 03:05] lasley commented on #334
Sorry for the spasm open/close, but I see a lot of lacking animations in the Odoo SA version & I think I would prefer something a little more adopted (I ❤️  you `animate.css`).

I also want something that I can test my themes against without an EE contract.

 As such, I'm keeping this on our project schedule.

[2017-04-27 12:38] JonathanNEMRY commented on #262
website_hr_department https://github.com/OCA/website/pull/335

[2017-05-02 13:02] yajo commented on #85
I'll migrate website_sale_vat_required and put it in e-commerce.

[2017-05-03 15:09] dreambits commented on #262
Maybe i missed something but is website_snippet_anchor not suppose to be part of migration to v10 ?
If not so, can I try getting my hands dirty with it and see if I contribute to migrate it ?

[2017-05-03 15:29] lasley commented on #262
@dreambits - looks like it was migrated to 9 after v10 was created, so it didn't make it into this ticket. I added it now and tagged you to it!

[2017-05-04 10:22] rruebner opened #337 "Website SEO redirection improvements"
Hi @lasley @Yajo,

The module website_seo_redirection is a really nice and simple solution for customising any url in odoo. But I think to manage all urls manually can be a hard. Currently the migration from odoo 9 to 10 (#329) is in progress, so after the migration is done I want to provide some improvements.

But before creating a PR I want to discuss if the improvements are really needed (to be

[2017-05-04 10:39] yajo commented on #337
You're welcome to open any PR on that direction, it does not seem so crazy 😋

This addon is not perfect, so improvements are always welcome.

[2017-05-04 12:38] astirpe commented on #262
website_analytics_piwik https://github.com/OCA/website/pull/338

[2017-05-04 12:41] dreambits commented on #262
Okay .. thanks @lasley

[2017-05-04 14:40] lasley commented on #337
@rruebner - sounds like a decent plan IMO. I'm also planning a blog SEO module in #330. Sounds like we may have some overlap.

[2017-05-05 07:03] rruebner commented on #337
Alright, I will create a PR with the improvements next week.

@lasley I will also create an additional PR for the customised url handling for products and product categories. Based on it we can discuss your improvements for the blog part if it is ok for you.

[2017-05-15 15:02] JonathanNEMRY commented on #262
https://github.com/OCA/website/pull/339/files#diff-c7e737a062366a24a8b497ff449a4812R12 done need reviews

[2017-05-16 08:55] seyed-mohammad-motahar opened #340 "[10.0] [website_menu_by_user_status]"
Hi Guys,

Any plans to migrate website_menu_by_user_status module into V10 ?

Thanks

[2017-05-16 08:59] pedrobaeza commented on #340
No if nobody takes care about it.

[2017-05-16 08:59] #340 closed

[2017-05-29 08:42] yajo commented on #292
Please reopen if this still happens and you can provide the debug logs, thanks!

[2017-05-29 08:42] #292 closed

[2017-05-29 10:27] Tardo opened #345 "[10.0][MIG] Migrate 'website_anchor_smooth_scroll' to version 10.0"
Migration of 'website_anchor_smotth_scroll' to v10.0

[2017-05-29 10:52] Tardo commented on #345
OOPS!

[2017-05-29 10:52] #345 closed

[2017-05-29 10:52] Tardo commented on #262
I'm going to migrate 'website_anchor_smooth_scroll' to version 10.0

[2017-05-29 10:53] HaTry commented on #262
I'm going to migrate 'website_snippet_country_dropdown' to version 10.0

[2017-05-29 14:25] Tardo commented on #262
I'm going to migrate 'website_container_fluid' to version 10.0

[2017-06-17 09:45] reinka commented on #262
[PR in Odoo/e-commerce](https://github.com/OCA/e-commerce/pull/180) for `website_sale_order_company`

[2017-06-25 05:39] lasley commented on #337
Hi @rruebner - Any update on this?

[2017-07-01 11:29] XtremXpert commented on #327
HI did you see the work of https://github.com/hibou-io/odoo-website-code-snippet

I am trying to refactor their editor to textarea for code input

[2017-07-03 07:45] yajo commented on #327
When you are editing a website page's HTML, it uses a bundled syntax highlighter, right?

[2017-07-13 14:24] ovnicraft opened #363 "[8.0] website backend view"
Using backend view on website page, editing Date field got this error:

[code]

[2017-07-19 19:57] lasley commented on #334
Closing to track in  #365

[2017-07-19 19:57] #334 closed

[2017-07-19 23:18] lasley commented on #325
Closing - this looks solved

[2017-07-19 23:18] #325 closed

[2017-08-04 00:50] lasley opened #369 "[RFC] website_manifest: View all of the routes exposed to public"
We have started to notice issues where pages are getting created but not documented or linked to anything.

Google is significantly better at documenting than humans, however, so these bad pages are ending up on search results. This can be mitigated other ways obviously (published, versioning, etc), but I still find it disconcerting that a mad employee can put bad things on the website without any

[2017-08-04 07:35] yajo commented on #369
Have you checked your `/sitemap.xml`? Not much user-friendly, but it already contains what you want if I understand you well.

[2017-08-04 15:52] lasley commented on #369
@Yajo - good call, this is exactly what I need. Kind of verbose because it includes products and stuff, but this is just for random audits anyways - so no big deal. Closing!

[2017-08-04 15:52] #369 closed

[2017-08-04 15:52] lasley commented on #369
Ps Thanks!!!!

[2017-08-14 13:00] lasley commented on #314
@pedrobaeza @max3903

[2017-08-14 13:03] pedrobaeza commented on #314
See:

* https://github.com/odoo/odoo/pull/18462
* https://github.com/odoo/odoo/pull/17970
* https://github.com/odoo/odoo/pull/17635

[2017-08-14 19:17] lasley commented on #314
Closing to track in #354

[2017-08-21 12:03] Bilbonet opened #372 "[10.0] [website_blog_category] It's no posible create categories"
always appears the restriction (Cannot assign a parent/child relationship between categories in disparate blogs)

[2017-08-21 12:09] Bilbonet opened #373 "[10.0] [website_blog_category] blog sidebar category filter doesn't work"
On the website blog if you select a category always shows all posts of the blog. It doesn't filter the posts of the category selected.

[2017-09-04 11:28] wpichler opened #376 "website_multi_theme menu support"
I've installed the website_multi_theme addon - and got it running so far.
It does work - i do have two companies - with a website per company / per domain.

I am able to create a top level menu on the first website - but i am not able to generate a top level website menu on the second website. The menu entries are getting written - but it seems that they do not get loaded.

[2017-09-04 11:30] wpichler opened #377 "website_multi_theme - public user per domain"
As far as i know - odoo take the public user for the public access to the website. When you use the website_multi_theme for different companies - then it would be great if you can use a public user for every website.
Would this be possible ?

[2017-09-04 11:31] pedrobaeza commented on #376
This doesn't seem anything with this module, but with Odoo itself. Does the problem happen the same on Vanilla Odoo (take into account that in standard Odoo, you can have several website, but with the same theme)?

[2017-09-04 11:34] pedrobaeza commented on #377
Again, not related to this module (please select the correct granularity when putting issues). See any way https://github.com/OCA/multi-company/pull/62 for that purpose.

[2017-09-04 11:34] #377 closed

[2017-09-04 11:46] wpichler commented on #376
Ah - i can see what the problem was. It was missing the Top Level menu entrie. I think it would be great to generate a default Top Level Menu entrie - when the user does create a new website. But this does belong more directly to odoo - and  not oca...
But we could implement it in website_multi_theme - to be nice to the user - what do you think ?

[2017-09-04 11:48] pedrobaeza commented on #376
No, it should be another module. You will have the same problem wanting multi-theme support or not.

[2017-09-04 11:48] #376 closed

[2017-09-04 12:10] wpichler commented on #376
correct - i will create this module

[2017-09-05 08:12] yajo commented on #376
I suggest that you add that to odoo master branch. It is more related to core odoo than to the addon.

[2017-09-06 10:21] treviser commented on #376
@wpichler how did you create such a top level menu entry?

[2017-09-06 13:14] wpichler commented on #376
currently manual - just use Configure Menu on website config site

[2017-09-06 13:20] treviser commented on #376
@wpichler I tried that too, but unfortunately the Button "Create" does not react/does nothing.

[2017-09-06 14:51] wpichler commented on #376
Do remove the default group filter which is set - then you can edit / create

[2017-09-06 18:09] treviser commented on #376
Stupid me....thanks alot!

[2017-09-06 22:14] treviser opened #378 "[Website_Multi_Theme]Wrong data (name) for theme Monglia"
The name for theme Monglia is not written correctly, it is NOT MongOlia, but Monglia. Took me 3 hours to find out why it does not work :-)

[2017-09-07 07:38] #378 closed

[2017-09-07 07:39] pedrobaeza commented on #378
Thanks for reporting! Fixed in https://github.com/OCA/website/commit/244b05adb2a5fdea82a0edb7d45f613e860e5092

[2017-09-07 08:00] treviser commented on #378
Always welcome!

[2017-09-13 14:46] igallart opened #380 "[9.0] website_sale_checkout_country_vat"
Hello, I have configured fine this module, but in web show always This error occured while compiling the bundle 'website.assets_frontend' in yellow. Is ubuntu 16.04.

I have installed all sass and gem required and lessc, but always is showed.

¿Any idea?

[2017-09-13 14:47] lasley commented on #380
What is the exact error? There's usually significantly more information than just an error, such as file paths.

[2017-09-13 14:48] pedrobaeza commented on #380
No if you don't even put any traceback. The modules is working fine, as you can see on runbot.

[2017-09-13 14:49] igallart commented on #380
This error occured while compiling the bundle 'website.assets_frontend' containing:
    - /website/static/src/less/import_bootstrap.less
    - /web/static/src/less/variables.less
    - /web/static/src/less/utils.less
    - /website_portal_v10/static/src/less/website_portal.less
    - /website_snippet_country_dropdown/static/src/css/style.sass
    - /website_form/static/src/less/website_form.less

[2017-09-13 14:51] lasley commented on #380
@igallart - this is an installation issue, specifically with LESS. It's a bitch unfortunately and we deal with it all the time In CI.

@treviser posted help for this [here](https://github.com/OCA/maintainer-quality-tools/pull/465#issuecomment-327762729)

[2017-09-13 14:51] #380 closed

[2017-09-13 14:55] igallart commented on #380
I spelled the name wrong. I'm sorry.

[2017-09-13 14:57] lasley commented on #380
It's still an installation issue @igallart. This is evidenced by the fact that there are also core Odoo files not compiling:

[code]

[2017-09-13 15:01] igallart commented on #380
@lasley, but why only when is that module installed? Before it works fine.

[2017-09-13 15:02] pedrobaeza commented on #380
Because other modules don't require less.

[2017-09-13 15:05] igallart commented on #380
Thanks, I'll try to solve it.

[2017-09-13 15:16] pedrobaeza commented on #380
I recommend you to try https://github.com/Tecnativa/docker-odoo-base for avoiding this kind of problems, as it's a Docker image with all the needed things integrated.

[2017-09-13 15:22] lasley commented on #380
Docker for the win. It's worth the time to learn it.

[2017-09-18 16:11] treviser commented on #199
I have found out the issue: When a logo has a width of more than 1024 pixel, it will be converted to a square by Odoo core.

[2017-09-18 16:11] #199 closed

[2017-09-18 16:20] treviser opened #381 "[website_multi_theme]Duplicated content of /home pages"
I have installed the module and I have set up different websites for different companies. When designing the /home page of one website with a user which has access only to the website of the one company, the content of this homepage is also published on the other homepages.

What can I do to avoid this?

[2017-09-19 07:23] yajo commented on #381
I'm not aware of any `/home` controllers in Odoo, but in general terms, your views must be attached to one website or they will be considered *multiwebsite* and appear in all of them. If for any reason this does not happen automatically, locate the view in the technical area and set the right website there manually.

[2017-09-19 07:23] #381 closed

[2017-09-19 07:33] treviser commented on #381
@Yajo Thanks for the feedback. During my work, I have found out that everything you do with the Website Builder on any page will be published on all the same pages of other websites. This seems to be pretty embarrassing. Does this mean that you can not use the website builder with website_multi_theme and one has to create views manually?

[2017-09-19 08:19] yajo commented on #381
It's actually a use case that I didn't contemplate in the module. I focused on enabling assets from a given theme only for the chosen website (you see, the `_theme` suffix).

Possibly a good addition would be to be able to choose the page's website while editing it in the frontend (maybe a check box like "display this view only for this website"). This is another consequence of the multiwebsite su

[2017-09-19 08:21] pedrobaeza commented on #381
Does this happens also without this module installed?

[2017-09-19 08:22] yajo commented on #381
That's what I meant, yes. However, without it, you don't really notice since all websites seem the same (same theme... you know).

[2017-09-19 08:23] pedrobaeza commented on #381
Are you sure of that? What I understand is that the same page is available for all the websites, so that's not something that has to deal with multi-theme.

[2017-09-19 08:27] treviser commented on #381
This is my setup of the website menus, if it helps:

![selection_526](https://user-images.githubusercontent.com/1814941/30582730-1117974e-9d25-11e7-90f9-440cc079c6bc.png)

[2017-09-19 08:31] treviser commented on #381
Is there anything I can do "manually" in the meantime until this gets fixed or Odoo makes multi-website in EE on release 13? I have to publish the second website during the next week :-(

[2017-09-19 08:34] pedrobaeza commented on #381
Please don't blame yet to Odoo. I don't think this is something intentional for having an EE multi-website support.

[2017-09-19 08:37] treviser commented on #381
I don't want to blame Odoo, as it will anyway not be available in the time I need it, was just responding to Yajo's joke :-)

[2017-09-19 09:05] treviser commented on #381
I have found out that I can duplicate the following views and assign them to particular websites:
- home
- website_sale.products and the other website-product views
- aboutus
- contactus etc.

After that, I can use the website builder to design the pages and it works.

[2017-09-19 09:32] yajo commented on #381
Indeed, that's the solution for the time being.

[2017-09-19 09:36] pedrobaeza commented on #381
The actions I see that are needed to be done then are:

* On website creation, automatically create a homepage with this website linked.
* When creating a new page, take the current website to be linked (I don't know if this already happens).
* The only thing I don't see that can't be done easily via website builder is to modify standard pages like /contactus. If you want to have different things

[2017-09-19 10:12] yajo commented on #381
I think the module is enough smartypants. Thinking in website editor UI:

- When editing a mult-iwebsite view, a button "Duplicate for this website". When clicked, opens a dialog saying "The view you are editing affects all websites. Do you want to create a copy only for this one and edit it?" Yes/no.
- When editing a single-website view, the button transforms into a message: "This page is only av

[2017-09-19 10:16] treviser commented on #381
I'm willing to help with the docs (from a user perspective).

[2017-09-19 10:18] pedrobaeza commented on #381
But again this is not something with this module. We can create a `website_multi_helper` (of just `website_multi`) module with that.

[2017-09-19 10:39] yajo commented on #381
It's true, although it's hard for a user to hit the bug without it. But I agree it should be a different one.

[2017-09-19 14:07] treviser commented on #381
@Yajo @pedrobaeza Stupid question: What is my web.base.url when using multiple websites with different domains?

[2017-09-19 14:15] lasley commented on #381
They could probably hit this same bug once `website_multi_company` comes into play. Agreed new module

[2017-09-19 14:29] lasley commented on #381
I would guess the primary website URI. As it stands, there's still going to be one primary - all outbound emails, for example, will use it.

[2017-09-20 07:10] yajo commented on #381
@treviser https://github.com/odoo/odoo/blob/5dc1c576011d801bf5f6bbb977cdd5373d178b54/addons/website/models/website.py#L393-L406

[2017-09-20 07:18] treviser commented on #381
@Yajo ??? (I do vaguely understand that this is getting the website domain from the hostname in the http request, but I'm not a developer...)

[2017-09-20 07:42] yajo commented on #381
It means that your requests are bound to the website found in the http host header, or they fall back to the website with the lowest id in the db table (id=1 usually (localhost)).

[2017-09-20 07:50] treviser commented on #381
Good to know! Thanks

[2017-09-20 18:28] XtremXpert commented on #372
I confirm the issue

"always appears the restriction (Cannot assign a parent/child relationship between categories in disparate blogs)"

If trying to create parent from the category, same error when trying to save parent

[2017-09-26 20:09] XtremXpert opened #384 "Needed update version of six for website_legal_page"
The current version of six install by the current requirement.txt of odoo need to be update to get ride of the following error

File "/opt/community/website/website_legal_page/controllers/main.py", line 7, in <module>
    from six import raise_from
ImportError: cannot import name raise_from

May be good to put a requirement.txt in this depot to upgrade six

[2017-09-26 20:17] lasley commented on #384
`six` is an Odoo requirement, with the version frozen at `1.10.0` in [Odoo 10](https://github.com/odoo/odoo/blob/88edeeca6a17e48dca203d28c0af9d2ba2d50498/requirements.txt#L34). What version of `six` is required here?

[2017-10-03 05:47] help-me-project opened #387 "Website SEO redirection HTTPS Problems"
My test site use force http redirection by Nginx.

When I use your module with URL (for example) _https://help-me-24.com/blog/1/post/kdenlive-73_ redirection make url like _http://help-me-24.com:443/blog/how-to-update-kdenlive-to-version-16-12-3_ wihout https protocol but with 443-port.

Of course, this causes an error:
_400 Bad Request
The plain HTTP request was sent to HTTPS port_

It's very goo

[2017-10-03 14:01] help-me-project commented on #387
As i see it's not plugin problem.
Here probably a question for system administration and Nginx configuration.
I'm find variable wsgi.url_scheme, with hardcoding by:
environ['wsgi.url_scheme'] = 'https'
Production system runing normal. But this variable must be self detected, as I can see.

[2017-10-03 15:08] pedrobaeza opened #388 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [x] website_analytics_piwik - By @astirpe - #404
- [x] website_anchor_smooth_scroll - By @njeudy - #407
- [ ] website_backend_views
- [ ] website_blog_category
- [ ] website_blog_facebook_comment
- [ ] website_blog_mgmt
- [ ] website_breadcrumb
- [x] website_canonical_url - By @simahawk - #460
-

[2017-10-05 02:15] rabchev opened #389 "website_legal_page 10.0 causes error on first request after restart"
When website_legal_page is present in extensions, after restart the first request to the server return internal server error response and the following error is logged:

2017-10-05 01:29:03,589 1 ERROR ? werkzeug: Error on request:
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/werkzeug/serving.py", line 177, in run_wsgi
    execute(self.server.app)
  File "/usr/lib/py

[2017-10-05 05:48] pedrobaeza commented on #389
This is because you haven't installed six library or proper version of it.

[2017-10-05 05:48] #389 closed

[2017-10-12 14:43] jholze commented on #337
lets keep in mind the changes odoo did in the website builder of v11. Looks really nice.

[2017-10-13 11:57] yterrettaz opened #392 "[website_multi_theme] Problem with two websites with the same theme"
*Scenario*
*I create a new installation form official Docker image version 10 https://github.com/odoo/docker/blob/f432264ad15ce8e3326f281394e1900eb9d1c903/10.0/Dockerfile
*I load a new database with demo data and install the module website_multi_theme
*I set the demo theme for the first instance localhost and keep empty the seconde 0.0.0.0.
-> It works !

* I set the demo theme for the second inst

[2017-10-17 08:44] yajo commented on #392
[Official docker image is outdated](https://github.com/odoo/docker/blob/f432264ad15ce8e3326f281394e1900eb9d1c903/10.0/Dockerfile#L26). [This addon requires patches that were merged after that](https://github.com/OCA/website/tree/10.0/website_multi_theme#known-issues--roadmap).

[2017-10-17 08:44] #392 closed

[2017-10-17 09:02] yterrettaz commented on #392
@Yajo Thank you for your feedback, I'll check the commits specified on you readme.

[2017-10-30 18:37] bouvyd commented on #388
`website_blog_mgmt` seems mostly depreciated by odoo/odoo@a4d8cf9ead31a8e2160229672ae89ff7485fe753 (since version 10.0 in fact)

[2017-10-30 19:16] bouvyd commented on #388
`website_form_recaptcha`: #395
 `website_crm_recaptcha`: #396

[2017-10-30 20:11] bouvyd commented on #388
`website_field_autocomplete`:  #397

[2017-11-22 13:47] JohnMica opened #399 "Cookie Notice issue"
Hi guys,

I'm running Odoo10 with a DB 9.6 on a local docker
Mounted files and db locally to see what is going on and update as needed the modules

The issue is coming with 'JsonRequest' object has no attribute 'httpsession' when clicking on the Cookie Button.

Any ideas how to sort this out, or if you do need more info ?

thanks
![screen shot 2017-11-22 at 13 48 05](https://user-images.githubuser

[2017-11-22 13:50] pedrobaeza commented on #399
Please try to reproduce the problem in runbot. If not, it's something of your installation.

[2017-12-06 22:27] joseponzo opened #400 "Website Snippet - Data Slider, how to limit qty products?"
Hi
Please help. I have 30 products in the store and the 30 loads the slider. I have data_limit in 10, I change it to 5 and it's the same load all the products published. I need to configure something more?.
environment: odoo 10 enterprise, ubuntu 16, nginx. ssl.
Ragards

[2017-12-07 17:32] smurf-U commented on #388
https://github.com/OCA/website/pull/401 website_snippet_data_slider

[2017-12-21 09:30] nadiaafa commented on #388
@pedrobaeza i will work on website_legal_page and website_cookie_notice

[2017-12-21 15:56] astirpe commented on #388
website_analytics_piwik https://github.com/OCA/website/pull/404

[2017-12-30 12:30] Kazebayashi opened #405 "[10.0] [website_snippet_anchor] Error message after backend pages loading"
Hi
First I want to thank you all who worked on OCA modules. It's very helpfull for people like me who need these functionalities but who cannot develop it themself.

I installed website_anchor_smooth_scroll and website_snippet_anchor. Everything looks ok despite the fact I got this error message each time a page is reloaded on the backend:
`Can't load template /website_snippet_anchor/static/src/xm

[2017-12-31 14:41] Kazebayashi commented on #405
Error message disappeared after I restarted my odoo container (I'm using docker).
But I still have the image link problem.

[2018-01-01 13:13] #405 closed

[2018-01-01 13:21] Kazebayashi opened #406 "[10.0] [website_anchor_smooth_scroll] Smooth scroll link broken on images"
Hi

I just installed website_anchor_smooth_scroll and website_snippet_anchor.
Since then smooth scroll is working very well on text links, but image links do not work anymore (nothing happen on click).

The link itself is exactly the same:
Image link:
[code]
And text link:
[code]
The anchor is set to the section tag:
[code]

The link works when I use the full address, like `<a href="/page#anchor1"

[2018-01-01 13:33] Kazebayashi commented on #406
I tried on runbot and get the same result.

[2018-01-11 16:49] njeudy commented on #388
@pedrobaeza : website_anchor_smooth_scroll #407

[2018-01-12 21:29] njeudy commented on #388
@pedrobaeza website_cookie_notice  #408

[2018-01-30 13:48] yajo commented on #406
Pretty dumb failure... All we have to do is change to `event.currentTarget.hash` here: https://github.com/OCA/website/blob/28910f763ac29a2f53ce9b407cf55ff29509cff3/website_anchor_smooth_scroll/static/src/js/website_anchor_smooth_scroll.js#L14

Do you want to make the PR?

[2018-01-31 23:31] Kazebayashi commented on #406
Thanks Yajo! It works perfectly well.

I did the PR (#412), but I hope I did it properly (I'm not a very experienced github user yet...).

[2018-01-31 23:40] Kazebayashi commented on #406
#412

[2018-01-31 23:40] #406 closed

[2018-02-01 16:46] zeroheure commented on #262
migrating website canonical url to Odoo 10 https://github.com/OCA/website/pull/413
(I didn't know about reinka port). This one is simpler. Description of complete SEO problem added.

[2018-02-02 16:39] pedrobaeza opened #415 "Travis failure in 11.0 due to website_legal_page"
@Yajo @nadiaafa this module is provoking now a failing in Travis due to changes in upstream. Can you check?

[2018-02-03 12:28] simahawk commented on #415
@pedrobaeza tests are green, nevertheless this hack should be removed https://github.com/OCA/website/blob/11.0/website_legal_page/tests/test_controller.py#L14 as the bug has been fixed by odoo. /cc @nadiaafa

[2018-02-05 15:16] avmediadesign opened #416 "[10.0] website_sale_hide_empty_category needs products in parent category"
If a sub category (eg. cat1_sub1) contains some products but there are no products attached to the parent category (cat1), then the child category is not shown despite it contains products.
What the best way to fix this ?

[2018-02-06 08:18] astirpe opened #417 "[RFC] Piwik is now Matomo, what about website_analytics_piwik?"
As explained in this [Piwik is now Matomo - Announcement](https://matomo.org/blog/2018/01/piwik-is-now-matomo/), we should rename the actual module `website_analytics_piwik` to `website_analytics_matomo`.

To be strict, not only the module name but also all the fields and js code should be renamed/updated as well.
However this approach will break the backward compatibility with the running old ver

[2018-02-06 08:18] astirpe commented on #417
cc @hbrunn

[2018-02-06 09:20] hbrunn commented on #417
I think there's no need to change anything, as the files to be included are still called $domain/piwik.js and $domain/piwik.php. So after an update, it just keeps working - we did that already.

A PR to the readme of the latest version specifying that Matomo is also supported, and a note for the next migration to rename the module seems sufficient to me.

[2018-02-06 09:58] satriani-vai opened #418 "[11.0] website_anchor_smooth_scroll scrolling to the section with ID"
How to scroll to the section by ID?
eg.
[code]

[2018-02-06 09:59] pedrobaeza commented on #418
It should have an anchor. What you ask is another different feature.

[2018-02-06 09:59] #418 closed

[2018-02-07 08:26] tarteo commented on #388
website_snippet_anchor #420

[2018-02-08 13:15] pedrobaeza commented on #415
Tests are not green. You can see it here: https://travis-ci.org/OCA/website

[2018-02-09 09:58] #415 closed

[2018-02-10 12:17] jaffaizal opened #424 ""website_sale_hide_empty_category" not hiding empty categories"
Hi guys, I've just installed the above app from the ODOO store (version: 10.0.1.0.0)

Successfully installed to my website. http://www.leemporium.com
But, the empty categories are still showing.

Have restarted ODOO server but no effect. Still showing the empty categories.

Any pointers?

[2018-02-13 12:47] jaffaizal commented on #424
Since I could not find any documentation. And after further googling, today I found the answer after trying the following on runbot at:

https://pypi.python.org/pypi/odoo10-addon-website-sale-hide-empty-category/10.0.1.0.0

![image](https://user-images.githubusercontent.com/7124199/36150064-3f6ce4a4-10fd-11e8-98a5-209f08d23f8c.png)

But you have to remember to include the "Website Categories" in t

[2018-02-13 12:50] #424 closed

[2018-02-13 12:56] jaffaizal commented on #424
OK. After trying the above. I found a BUG with the app.

It only works if the menu is not collapsible.

![image](https://user-images.githubusercontent.com/7124199/36150931-57b2acf8-1100-11e8-8c52-1f78b055246c.png)

It does not work with collapsible menu as attached below...

![image](https://user-images.githubusercontent.com/7124199/36150711-8e3e1b64-10ff-11e8-85bb-8d920db73007.png)

[2018-02-13 13:00] pedrobaeza commented on #424
It's not a bug, but a limitation. You can make a PR for indicating that on the README.

[2018-02-13 14:29] jaffaizal commented on #424
Hi Pedro,

I am new here (not well verse with Github). My intention is to help others here that have downloaded the app from ODOO app store. Since it does not have any documentation attached with it, other than this following text:

![image](https://user-images.githubusercontent.com/7124199/36153385-0641a2f8-1109-11e8-9d70-47dc1b0dbfa6.png)

And there is a link back to github under the heading Bug

[2018-02-13 15:02] jaffaizal commented on #416
Hi avanzella,

As you can see here...

![image](https://user-images.githubusercontent.com/7124199/36155180-9ee0f6b2-110e-11e8-8431-ea4ad1cb78c4.png)

(**Note**: that to see this... make sure that you enable "Collapsible Category List", which will show all Categories even if its empty)

![image](https://user-images.githubusercontent.com/7124199/36155430-51caca6e-110f-11e8-8870-a231077391c8.png)

Da

[2018-02-13 16:43] simahawk opened #425 "[RFC] Image lazy load"
I'm willing to implement a reusable solution to do.... well, loading image lazily :)

I haven't spot any solution in this repo nor on the web. Is there anything I missed?

If no solution is there, I still have to decide which lib to use. I'll name a bunch:

1. http://jquery.eisbehr.de/lazy/ (we already have jquery, not a burden)
2. http://dinbror.dk/blazy/
3. https://github.com/verlok/lazyload

an

[2018-02-13 16:52] simahawk commented on #425
No matter which lib we include it might be worth to put it in the new repo mentioned here https://github.com/OCA/web/issues/842

[2018-02-13 18:10] pedrobaeza commented on #424
Go to README file, and you will find an "Edit" button there. Click on it and you will be able to change the README and propose a PR to the main repository.

[2018-02-14 03:38] jaffaizal commented on #424
Hi Pedro,

Thanks for the info. In this case the PR is a functional request to include that it should also works for collapsible website categories?

Jaf

[2018-02-14 08:35] pedrobaeza commented on #424
See complete README template: https://github.com/OCA/maintainer-tools/blob/master/template/module/README.rst

There's a section called "Known issues / Roadmap" to express that things.

[2018-02-14 09:08] yajo commented on #425
I have no idea on which one would be best, never used such tools.

As a suggestion, check if there's any upcoming W3C standard, and if there's any polyfill available. In any case I'd expect it to "just work" out of the box with all images once the addon is installed.

[2018-02-14 09:34] simahawk commented on #425
@Yajo +1 for W3C / polyfillcheck.

Regarding "just work" yes... if you are in control of the markup.
But to get that working w/ all the images we'll have to introduce a sort of html transform before sending it back to response (maybe on `render` call): `img` elements and `div` + bg image should be converted to `data-src` (or alike) otherwise browsers will fetch them anyway before JS hooks in.

[2018-02-14 14:49] avmediadesign commented on #416
@jaffaizal,

Thank you for your comment.
IMHO, having to add products in their parent category for them to appear in their own category is not an efficient way to go especially when managing hundreds of categories. This is exactly the behaviour I was describing and that will hopefully get some fixing.
Regarding the collapsible category list issue, I faced the same problem and finally made an exten

[2018-02-19 16:36] lgarcia11 opened #426 "Unable to install module "website_multi_theme". Unable to find 'sass' in path"
Error received when trying to install.
Unable to install module "website_multi_theme" because an external dependency is not met: Unable to find 'sass' in path

[2018-02-20 08:41] yajo commented on #426
Then install sass and retry

[2018-02-20 08:41] #426 closed

[2018-02-27 02:57] ddufresne commented on #388
I will work on website_odoo_debranding

[2018-02-27 03:44] ddufresne commented on #388
website_odoo_debranding https://github.com/OCA/website/pull/428

[2018-02-27 19:30] ddufresne commented on #388
website_menu_by_user_status https://github.com/OCA/website/pull/429

[2018-03-02 07:57] thopy commented on #426
I have exactly the same problem as @Igarcia11, additionally I installed sass (what was really a hassle on win7 because compiling the c source is not easy for me) and tested it successfully on the python command line but odoo refuses to recognize that it is there and still returns an error message noting that there is a dependence on sass and it seems to be not installed.

I know this issue is clos

[2018-03-02 08:44] pedrobaeza commented on #426
But that's not something of the module, but your decision of installing Odoo on Windows. Every documentation you can read advises you not to install this on Windows because the installation of anything there is a total pain. Use a Linux VM if you don't want to have a complete Linux system.

[2018-03-08 08:43] Shiraj-Nisus opened #431 "Website Form Builder - How to set recipient email address?"
Hello,
We are testing this (https://www.odoo.com/apps/modules/10.0/website_form_builder/) module on Odoo v10 (both community and enterprise).When select "Send an Email" form setting there is no place to enter recipient email address.Is this a bug or that feature has not implemented?

[2018-03-08 21:03] bradbendy opened #432 "[11.0] Form builder not adding multiple leads"
Hi,

I tested this on enterprise-11 runbot as well as Odoo 11.0+e-20171229 (Enterprise Edition).

When adding a new form using form builder and selecting the "Create a lead" as the action, the first lead you submit adds to the leads correctly. When you go to add a second lead (refreshing the page), you get the success message but the first lead you added shows as updated, and this log appears on t

[2018-03-08 22:16] pedrobaeza commented on #432
I think you are doing wrong to refresh again the POST command. You have to start from the beginning.

[2018-03-08 23:19] bradbendy commented on #432
Yeah, tried that as well. Ive reloaded the page with just the URL, also
tried a inconginto and on a different computer. Super confused!

On Thu, Mar 8, 2018 at 3:16 PM, Pedro M. Baeza <notifications@github.com>
wrote:

[2018-03-09 05:26] bradbendy commented on #431
I just looked at this, and v11 has it. Have you tried on runbot? I remember reading somewhere (I think), that if certain SMTP options are not set then certain fields won't appear.

[2018-03-09 06:18] bradbendy commented on #432
Did some more testing with the default (did not change anything) contact us form. Same thing happens! It just shows "Other value given for field" in that 1st lead. If I trash that lead, I can create it again then same thing happens when I go to do a 2nd, 3rd, 4th, etc.

Only thing I can think of is if it's tracking it by IP address. So I tried from my phone on the celluar network and the lead adde

[2018-03-09 08:38] pedrobaeza commented on #432
@bradbendy this is a bit outside the scope of the module then, but @Yajo can you check if this affects us?

[2018-03-09 08:39] pedrobaeza commented on #431
This is not something of the module, but the Odoo options, so I close.

[2018-03-09 08:39] #431 closed

[2018-03-09 09:11] yajo commented on #432
Sorry, I cannot reproduce. Please notice that the addon has not yet been ported to odoo v11, so incompatibilities may exist.

Please try to reproduce it on [this repositorie's 10.0 runbot](https://runbot.odoo-community.org/runbot/repo/github-com-oca-website-186), and if you manage to do it, upload a video here so we can see the STR, and reopen.

Thanks!

[2018-03-09 09:11] #432 closed

[2018-03-09 09:14] pedrobaeza commented on #432
Oh, I didn't even see the version, but how can you try to put a module in other version??!! Of course that's not going to work.

[2018-03-19 04:52] KangOdoo commented on #416
I have an example where a empty sub category has been created in anticipation of future purchases of a new category of product. This new product has not yet been created in Odoo (10 CE) but the sub category still appears on web store. This occurs irrespective of the  position of the Collapsible Category List slider position. If this example is the intention of this app what might be the cause of t

[2018-03-19 08:32] pedrobaeza commented on #416
@KangOdoo that's another different issue, so don't post here about that. And your name is misleading. You don't have nothing to do with Odoo S. A., so you shouldn't name your self as `<something>Odoo` IMO.

[2018-03-19 09:05] KangOdoo commented on #416
@pedrobaeza Thank you for your pointless post, it has done nothing to resolve an issue with this app that is needed by the OP, my business and no doubt countless other Odoo users. Often a small bug in a bit of code has more than one consequence. Sorry to hear you've been so 'misled' - a very cursory examination by you of Odoo S. A. staff names would have demonstrated that they use the name format

[2018-03-19 09:12] pedrobaeza commented on #416
OK, as said, if you have another problem with this module, open a new issue, but don't contaminate this one.

[2018-03-19 13:53] abdallamhafeez opened #437 "[10.0] website_form_builder: many2one field appear static"
Steps:
- Create form in website page contain field has type many2one
- Add in backend new record

Current Behavior:
New records does not appear in website form

Expected Behavior:
Make field in website dynamic or updated with backend new records

[2018-03-19 14:57] pedrobaeza commented on #437
That's the expected behavior, as you can select specific items of the many2one to not be shown. If you want to refresh values, just delete and re-add the field.

[2018-03-19 14:57] #437 closed

[2018-04-12 12:53] thegunshow opened #445 "Cant install Multi Theme"
During installation the following error is thrown:

Error while importing module 'website_multi_theme': "Module loading website_multi_theme failed: file /tmp/tmpsfvux0io/website_multi_theme/security/ir.model.access.csv could not be processed:\n No matching record found for external id 'model_website_theme' in field 'Object'\nMissing required value for the field 'Object' (model_id)\nNo matching rec

[2018-04-12 15:48] pedrobaeza commented on #445
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (https://runbot.odoo-community.org/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/11.0/setup/install.html.

I'm closing this issue now, but if you feel this can be something reproducible with other steps,

[2018-04-12 15:48] #445 closed

[2018-04-12 17:47] thegunshow commented on #445
Hi Pedro

This is a fresh install of v11E on Odoo.sh. I will raise the issue with
them.

Thanks

On Thu, Apr 12, 2018 at 5:48 PM, Pedro M. Baeza <notifications@github.com>
wrote:

--
Kind regards
Brendan Gunn

[2018-04-24 11:33] lucode opened #451 "[11.0] website_multi_theme with the same theme but different URL"
We use this module with only one theme, but one which is not on the compatibitity list (peafull).
In general it works fine but when I try to open the website editor on site 1 I can't see the workspace. Strange enough the same instance over site 2 works perfect. Site 1 is the site which was created before installing the module. With no workspace I mean only two buttons are visible Disable and Save.

[2018-04-25 09:04] lucode commented on #451
It seems that the readme for that V11 module is stil related to the V10 version. I can't find any advanced settings and how I could updating my views is not clear to me. How I can disable website multi theme?

_To force your website getting updated views for all views from a base theme that has changed, you should disable the website multi theme (to make the engine remove all views) and then re-en

[2018-04-26 09:02] lucode commented on #451
I could solve the problem now with a workaround. I did create a new website and linked the pages and menus from the original website to the new one. Now I can edit the pages with the new website. Then I deleted the old website and renamed / reconfigured the new with the settings of the old.

[2018-04-26 09:02] #451 closed

[2018-05-30 10:53] eLBati commented on #262
website_signup_legal_page_required: https://github.com/OCA/website/pull/467

[2018-06-05 16:58] Daemo00 commented on #388
website_form_builder https://github.com/OCA/website/pull/476

[2018-06-15 15:56] lucode opened #483 "[11.0] website_multi_theme doesn't open html editor"
When I install the actual version 11.0.1.4.0 I can't open the frontend html editor. Doesn't matter which theme I use.
We figured out to make the editor visible again, but unfortunately only footer and header elements are shown. We did replace:
line 44 in website_multi_theme/models/ir_ui_view.py:​
from this:
`​current_website = request.website`
​to this:
`​current_website = self.env['website'].get_

[2018-06-18 07:40] lucode commented on #483
A workaround is to use the /content/manage page page form and edit the pages in the backend.

[2018-06-18 12:50] drinktea0808 opened #485 "can't install website_multi_theme"
hello,

i can't install this module on V11 CE and EE. an error kept appearing "Unable to install module "website_multi_theme" because an external dependency is not met: Unable to find 'sass' in path"

i follow these 3 guides and can't get it to work

1 - https://www.odoo.com/forum/help-1/question/ubuntu-16-04-how-to-install-sass-for-odoo-123090
2 - https://github.com/OCA/maintainer-quality-tools/p

[2018-06-18 12:53] pedrobaeza commented on #485
Sorry, this is a deployment question. You have to install saas. Look in Google how to do it for your operating system.

[2018-06-18 12:53] #485 closed

[2018-06-18 12:58] BalramY opened #486 "Cookie appear after I accept in header."
Current Behaviour:
Cookie popup is removed after I accept cookie But If I login and logout then it is again appear.

Expected Behaviour:

Once I accept cookie, then it should not display for specific time(no matter I login or logout)

[2018-06-18 15:52] #399 closed

[2018-06-18 15:54] pedrobaeza commented on #486
That's expected, as the acceptance is saved on the session itself. If not, you need to create a cookie for saving the cookie acceptance, what is somehow ironic if you don't accept it.

[2018-06-20 08:17] yajo opened #487 "Random failures on travis tests with website_multi_theme"
It was reported in https://github.com/OCA/website/pull/450#issuecomment-387215721, but it seems helpful to have a place where to track this issue.

<details><summary>Relevant logs</summary>

[code]
</details>

The current known workaround is to retry the travis job, but this needs a fix.

[2018-06-20 09:06] yelizariev commented on #483
Log message
[code]

[2018-06-20 09:06] yelizariev commented on #483
I'm going to propose a fix to odoo directly

[2018-06-20 09:11] yelizariev commented on #483
The code where error is raised:

https://github.com/OCA/website/blob/963de01/website_multi_theme/models/ir_ui_view.py#L37-L45

[2018-06-20 09:14] yelizariev commented on #483
the fix in https://github.com/odoo/odoo/pull/25347

If they don't accept it, we can make a workaround directly in ``website_multi_theme`` module.

cc @Yajo

[2018-06-20 09:23] yajo commented on #483
Good idea.

[2018-06-26 12:20] lucode opened #490 "[11.0] "website_anchor_smooth_scroll" disables #0 scroll to top"
Many Odoo themes come with a button at the bottom of the website to easy scroll back to the top. This is done through the relative link #0.
But the website_anchor_smooth_scroll module breaks this behaviour. It only works when I manually ad the ID="0" in the top section of the page.

[2018-06-26 12:25] pedrobaeza commented on #490
Do you have any possible solution?

[2018-06-26 12:29] lucode commented on #490
I'm not experienced with frontend coding. But I think a kind of exception in the case of the ID="0" would work. Normally this ID will not be used for something else.
I have just seen that for instance Odoo SA themes are using only # and not #0 in the Go back to top button.

[2018-06-26 15:04] yelizariev commented on #483
Fixed in odoo

[2018-06-26 15:07] pedrobaeza commented on #483
Closing then. A commit reference would be good.

[2018-06-26 15:07] #483 closed

[2018-06-27 07:41] yajo commented on #490
Then the bug is in those themes. They should link to `#wrapwrap` instead, which would work in any case. You can change the footer link in your odoo instance if you install them and cannot patch them upstream.

[2018-06-27 07:41] #490 closed

[2018-07-18 08:50] alexdhika opened #493 "Edit SEO Title Error"
Edit SEO Title Error (repeat title) when activate Addthis Integration

Odoo v11

[2018-07-18 08:51] pedrobaeza commented on #493
Which error? Which module? With this information, we can't hardly help you.

[2018-07-18 10:10] alexdhika commented on #493
Module "AddThis integration"
Error = Repeat Title when edit SEO meta in website blog post

[2018-07-18 10:12] pedrobaeza commented on #493
Steps to reproduce the problem, please.

[2018-07-18 10:16] alexdhika commented on #493
like this
https://image.ibb.co/j3sT1y/addthis.png

[2018-07-18 10:17] alexdhika commented on #493
"AddThis integration" add some repeated title when i edit meta seo

[2018-07-18 10:18] pedrobaeza commented on #493
@simahawk can you check this, please?

[2018-07-18 10:19] alexdhika commented on #493
@pedrobaeza thanks :)

[2018-07-20 07:59] simahawk commented on #493
I'll check in a while

[2018-07-20 08:41] simahawk commented on #493
not an issue on addon side:
1. AddThis adds sharing buttons including (don't know why) `<title />` elements:
![image](https://user-images.githubusercontent.com/347149/42992437-cc8834e8-8c08-11e8-8645-f98ee39b208a.png)
2. Odoo [seo.js selects `title` instead of `head title`](https://github.com/odoo/odoo/blob/47b376e66d2e9f303934a18800070bdb48d472d0/addons/website/static/src/js/menu/seo.js#L243) and

[2018-07-20 08:41] #493 closed

[2018-07-22 16:42] alexdhika commented on #493
But if i disabled addthis integration no error found

[2018-08-01 08:02] hveficent opened #494 "Travis is broken on 11.0 OCA/website"
I've find out that modules website_logo and website_multi_theme have broken test on Travis.
I can't figure out if my PR broke it or it was already broken, so please I need some help.
https://travis-ci.org/OCA/website/jobs/410391854

Thanks,

[2018-08-01 08:21] HviorForgeFlow commented on #494
Closed as now seems to be fine

[2018-08-01 08:36] pedrobaeza commented on #494
Yes, I have restarted the build as it was a temporary glitch.

[2018-08-11 13:49] treviser commented on #51
The problem exists in all versions from 8.0 to 11.0 and this happens when the module website_product_brand module is installed together with collapsible/expandable categories. Somebody with a kyrillic name has posted a comment on the App store page where he assumed that this happens because of inheriting the same controller, see his comments here: https://apps.openerp.com/apps/modules/8.0/website_

[2018-08-12 14:30] pedrobaeza commented on #51
I don't think the problem is in versions >v8, as the feature is integrated in core, with no multiple inheritance. For v8, the only way I see is to add a glue module.

[2018-08-13 11:58] rgl1234 opened #497 "Question: access of page by direct-link"
Hello
Does the module "website_menu_by_user_status" support to restrict the visibility of a page also, if the page is accessed by a direct-link, or does it only remove the menu-item but the page stays accessible if someone knows the direct link?

[2018-08-13 11:59] pedrobaeza commented on #497
Which module?

[2018-08-13 12:02] rgl1234 commented on #497
website_menu_by_user_status

[2018-08-13 14:43] yelizariev opened #498 "website_multi_theme is not uninstallable"
I haven't tried yet, but pretty sure, that there is no clean up on uninstallation ``website_multi_theme``. It means that view duplicates are kept and make a mess. I guess some ``uninstall_hook`` has to be added

[2018-08-13 21:44] pedrobaeza commented on #497
No, it doesn't. It also hide/show website menus.

[2018-08-13 21:44] #497 closed

[2018-08-14 07:12] yajo commented on #498
I think you have to confirm this problem. AFAIK, all the multiwebsite views are XMLID-tagged with `website_multi_theme` namespace, which makes all of them get deleted automatically when uninstalled.

However, there would be a problem with original views being disabled, so in any case possibly we need that hook indeed.

[2018-08-14 07:12] tarteo commented on #425
@simahawk Are you already or still working on this? Would be really nice to have.

[2018-08-14 08:05] simahawk commented on #425
@tarteo had not time to invest on this so I went for http://jquery.eisbehr.de/lazy + small custom code to get the result for the customer. I still have this in mind tho + automatic image scaling in a controlled way (but this is another story :wink:)

[2018-08-23 08:45] Axel-G opened #505 "[11.0] website_crm_privacy_policy: translation broken"
Translations not included on website.

[2018-08-23 10:02] pedrobaeza commented on #505
What do you mean?

[2018-08-23 10:11] ghost commented on #505
https://buergerwerk.eu/contactus

the translation is not included, uses english

[2018-08-23 10:13] pedrobaeza commented on #505
Synchronize translations.

[2018-08-23 16:19] Axel-G opened #506 "[11.0] website_legal_page translation to german"
I would translate the legal pages to germany. I have a free templates for this sites and there are close to the legal regulations in gemany.
But these Templates are very different to the english original.

Is it possible that i made a very different translation of these ?

[2018-08-23 16:29] ghost commented on #505
I load the Translations again. The translation i made in last day will be set, but not this translation.

[2018-08-23 20:55] pedrobaeza commented on #506
I think it's acceptable to change the translation in your language to accommodate to your local regulations.

[2018-08-23 20:55] #506 closed

[2018-08-29 06:45] chienandalu commented on #505
Looks like the .pot hasn't been properly generated: https://github.com/OCA/website/blob/11.0/website_crm_privacy_policy/i18n/website_crm_privacy_policy.pot

[2018-08-29 06:46] pedrobaeza commented on #505
It's got automatically. Try to generate it manually to compare.

[2018-08-29 06:58] chienandalu commented on #505
Ok, it's ok indeed. There's no translatable text in this module. The message is in a t-call that loads this view: https://github.com/OCA/website/blob/11.0/website_legal_page/views/reusable_templates.xml#L5-L10

So is that module the one to be translated.

[2018-08-29 06:58] #505 closed

[2018-08-29 19:19] Axel-G opened #508 "[11.0] website_legal_page"
-> keep it simple

i want use the this module for my site. I translated the site "fast & dirty" into german, because every business needs individual terms.

The Problem are the "hardcoded" areas with informations about the Company and e. g. in Terms of Use the field with relation to the law of the home-country.

This System makes a individual design unpossible.

I think it's great that there is th

[2018-08-29 19:23] ghost commented on #508
@chienandalu

[2018-08-30 05:09] chienandalu commented on #508
I guess they could be split and be called independently. You should provide backwards compatibility to avoid breaking other modules anyway.

[2018-09-18 07:27] simahawk opened #512 "[11.0][website_js_below_the_fold] Possible inconsistent behavior between power user and normal user"
[Here ](https://github.com/OCA/website/blob/11.0/website_js_below_the_fold/templates/website_js_below_the_fold.xml#L24
) we move JS only if we are not power users.

I've struggled for some time because for power users my JS was working smoothly and for simple users it did not.

The issue was actually that I have a custom template where I was temporarely loading some minor JS straight into HEAD w/

[2018-09-18 14:16] dcorio opened #513 "[11.0][website_multi_theme] scss executable dependency"
I see that this module depends on an executable file "scss", but i couldn't find any node package that provides this executable.
Could you please include some instructions on how to install the deps?

Thanks

[2018-09-19 07:18] yajo commented on #513
That's a dependency of odoo itself, not from this addon.

[2018-09-20 12:33] tarteo commented on #512
I think the issue is that the piece of JS you used is dependent on something that is loaded in the assets bundles. E.g. website_analytics_piwik works fine with the Javascript on the bottom (not sure if this is because it also puts it on the bottom).
But I see the problem in having to test that kind of Javascript twice (once with power and once without).
If we change the module to always load the J

[2018-09-20 12:37] simahawk commented on #512
@tarteo that's my point! :) The question is: did you have issues w/ the editor w/ resources moved below?
All in all I don't see a reason - but this - to not make editors' experience faster, no?

[2018-09-20 12:55] tarteo commented on #512
@simahawk I think i had problems with the editor, but I can't really remember anymore :(

[2018-09-20 12:59] simahawk commented on #512
hehe, ok, I'll try when I have time. Thanks for your feedback anyway!

[2018-09-20 13:00] #512 closed

[2018-09-27 00:41] OCA-git-bot opened #515 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [ ] website_addthis - By @JonathanOsAlc - #596
- [x] website_adv_image_optimization - By @Tardo - #711
- [ ] website_analytics_piwik
- [x] website_anchor_smooth_scroll - By @mreficent - #583
- [x] website_blog_excerpt_img - By @cristinamartinrod - #581
- [x] website_breadcrumb - By @cristinamart

[2018-10-01 11:23] karan-dreambits commented on #515
Starting with the easiest one:

website_odoo_debranding - https://github.com/OCA/website/pull/516

[2018-10-01 19:55] eLBati commented on #515
Porting website_legal_page with https://github.com/OCA/website/pull/517

[2018-10-02 07:33] simahawk opened #518 "[8.0] Broken travis build on linting"
many errors like this
[code]

[2018-10-02 09:51] pedrobaeza commented on #518
Yeah, they have arisen because the check was incorporated later. Can you please fix them directly?

[2018-10-02 09:54] nikul-serpentcs commented on #518
@pedrobaeza I have already Done but, Travis It seems it's stalled. Let's wait a bit.

[2018-10-08 14:07] simahawk commented on #518
closed here https://github.com/OCA/website/commit/15483541a2072c50f1faeb1b53866e47bc5ef359

[2018-10-08 14:07] #518 closed

[2018-10-08 14:10] simahawk opened #523 "[8.0] Broken build on phantomjs-related tests"
https://travis-ci.org/OCA/website/jobs/436459091#L1783

Seems because of timeouts.

@Yajo @hbrunn @moylop260 anyone already dealing with this?

[2018-10-08 14:11] simahawk commented on #518
There you go https://github.com/OCA/website/issues/523

[2018-10-08 14:21] moylop260 commented on #523
Is not related with the error above:
https://travis-ci.org/OCA/website/jobs/436459091#L1601

`2018-10-03 03:52:35,129 4654 ERROR openerp_test openerp.sql_db: bad query: UPDATE "website_seo_redirection" SET "destination"='/c',"write_uid"=1,"write_date"=(now() at time zone 'UTC') WHERE id IN (50)`

https://travis-ci.org/OCA/website/jobs/436459091#L1582
`2018-10-03 03:52:35,019 4654 ERROR openerp_tes

[2018-10-09 08:34] yajo commented on #523
@moylop260 that failure is an expected failure. Logs should have been muted to avoid distraction, but just check that the test that triggers the failure is testing a SQL constraint.

@simahawk indeed it seems like it cannot find the tour. One possibility is that there's some syntax error because somebody introduced a ES6 syntax that PhantomJS cannot understand. Another option is that the admin is

[2018-10-09 09:36] moylop260 commented on #523
I just ran the tour login with admin from the runbot's build and the issue is reproduced (I think so):

 - ![tour](https://user-images.githubusercontent.com/6644187/46660475-65130880-cbb7-11e8-892a-d16e4add4ecd.gif)

[2018-10-09 09:37] yajo commented on #523
Oh, why does it go to the backend? The tour is expected to run in website... :roll_eyes:

[2018-10-11 12:01] prakashjain opened #525 "Website Menu hide"
"website_menu_by_user_status" odoo 11.
Example:
Website Home, Contact us menu created using "website.page" object and able to hide.
And Website Forum, Blog and custom menu created using "website.menu" object and unable to hide.
Is there any way to hide menu created using  "website.menu" object?. using this plugin

[2018-10-11 12:07] pedrobaeza commented on #525
Not right now. You need a website.page record.

[2018-10-11 12:07] #525 closed

[2018-10-11 12:33] prakashjain commented on #525
I would like to hide website menu if user cannot login, only visible after login into the system website menu. Example: Forum, Blog and some custom menu. Please let me know if  any possible solutions.

[2018-10-11 12:37] pedrobaeza commented on #525
As said, not right now.

[2018-10-12 07:56] simahawk opened #526 "Move `website_sale_line_total` to OCA/e-commerce"
See https://github.com/OCA/website/pull/492

[2018-10-12 07:59] simahawk commented on #526
@pedrobaeza not sure w/ should actually take action here... I see some other modules: I guess `e-commerce` repo came after?
In any case it might a breaking change for many ppl if we move them out on v10 (I don't see them in v11).

[2018-10-12 11:58] pedrobaeza commented on #526
Yeah, that was the reason. We created OCA/e-commerce after a while when we see that OCA/website is very populated with e-commerce related stuff.

[2018-11-16 15:58] tschanzt opened #537 "[RFC] Language specific attachments and links."
Currently in odoo we are only able to translate text. This is an issue as it is not possible to change elements like attachments or links according to the Language. For instance if one has a nice graphic explaining something you either will have to make it language neutral or include it multiple times for each language which both aren't satisfactory solutions.

How would/do you handle this issue?

[2018-11-16 19:24] pedrobaeza commented on #537
By attachments do you mean images? In odoo v12 these contents are supposedly translatable. Have you tried?

[2018-11-19 11:28] tschanzt commented on #537
@pedrobaeza Could also be a pdf or something. I checked on runbot and i didn't see anything like that for the image it still is just the alt text which is translatable.

[2018-11-19 11:29] simahawk commented on #537
@pedrobaeza anything that can be linked (let's say an image or a video is a link to another resource) and that might have a specific per-language content.

What I see on runbot is
![image](https://user-images.githubusercontent.com/347149/48704326-86273a00-ebf6-11e8-8eb6-5947160adf2d.png)
so you can edit only ALT on images

For a video you don't have nothing AFAIS.

[2018-11-19 14:28] pedrobaeza commented on #537
OK, I see. And isn't better to work directly on a feature for having specific pages per language?

[2018-11-19 14:42] simahawk commented on #537
@pedrobaeza that's exactly my goal in the CMS perspective, but it's a long journey as you have to turn off all the translated-related feature for pages (or whatever the content is) and it changes the std paradigm for handling translations (you have to pay attention to UI/X).

This one was more a proposal for an easy as possible hack to get the result w/ less effort fully integrated w/ standard Odo

[2018-11-19 14:47] pedrobaeza commented on #537
Well, I think all these workarounds at the end takes more time than simply go for the full-packed solution. Although UI is important, I don't think it's too difficult to get this system properly plugged:

- When you click on Translate, ask to use current translate system or create a new translation page. If second, then copy current one with language and go to it.
- Handle all the controller stuff

[2018-11-20 07:34] simahawk commented on #537
I don't think we should make the user choose: if you install this feature and the current model has this behavior implemented it must always be applied

Page retrieval happens into ir_http, at least from v11.
You need to link the canonical record and the translations, you must be able to retrieve them at any time (for instance you must use them for alternative URLs)

Include the possibility of rem

[2018-11-20 08:18] pedrobaeza commented on #537
OK, as you prefer.

[2018-11-29 16:28] Axel-G opened #543 "[12.0] [WISH] website_odoo_debranding: odoo-label in preview sales orders etc."
by the view of invoices, sales orders etc. in the account as logged in user is a link to odoo.

[2018-11-29 16:29] pedrobaeza commented on #543
That's not part of website, but portal one. Check mail_debrand for that.

[2018-11-29 16:29] #543 closed

[2018-12-01 13:19] amrani1insaf opened #544 "[12.0] website_form_builder: Related fields"
Hello Community,

In website form builder for odoo 12.0  I can not add a related fields, I couldn't find any related fields in fields parameter. Thank you in advance :)

[2018-12-03 11:52] mfigueiredo-odoogap opened #545 "12.0 mig website_canonical_url"
starting migration off website_canonical_url

[2018-12-03 11:53] mfigueiredo-odoogap commented on #515
starting migration off website_canonical_url #545

[2018-12-03 11:53] pedrobaeza commented on #545
Where is that migration?

[2018-12-03 11:53] #545 closed

[2018-12-03 11:54] mfigueiredo-odoogap commented on #545
i'm starting it today

[2018-12-03 11:55] pedrobaeza commented on #545
Then please don't add a new issue, and just mention in the migration issue that you want to be assigned to that module. I'm writing that now, so no more actions needed for this one, but take into account for the future.

[2018-12-07 12:20] #498 closed

[2018-12-10 12:53] IQIDOX opened #550 "After installing module Website Snippet Anchor I get this error"
Error:
Uncaught Error: Can't load template /website_snippet_anchor/static/src/xml/link_dialog.xml?debug=1544446255182, http status 404

https://mysite.com/web/content/514-c82dc0d/web.assets_common.js:3618
Debuging:
Error: Can't load template /website_snippet_anchor/static/src/xml/link_dialog.xml?debug=1544446255182, http status 404
    at XMLHttpRequest.<anonymous> (https://mysite.com/web/content/

[2018-12-10 13:31] pedrobaeza commented on #550
Sorry, but without more details this can't be answered. It's probably how are you deploying the addon, but can't say more.

Closing this while no more information is provided, but can be opened again if needed.

[2018-12-10 13:31] #550 closed

[2018-12-12 04:40] thanhacun opened #551 "website_lazy_load_image: translation broken after install"
After installing the module, all translation (other than default) is broken (in my case, it is Vietnamese) for the website module:

- The translation is OK if a user is logged in
- The translation is Broken if a public user

Please see the attached  file for the website menu

![annotation 2018-12-12 113918](https://user-images.githubusercontent.com/7599781/49847431-9f409680-fe02-11e8-8317-6f6dea51

[2018-12-12 08:45] pedrobaeza commented on #551
Which module? Which version?

[2018-12-13 02:07] thanhacun commented on #551
Module: oca/website/website_lazy_load_image
Version: 11.0.1.0.0

Behavior:
- After installing the module, translation for Vietnamese (I had only
English and Vietnamese translations) in the website is broken
- It only effects when not login (public users)

Temporary fix:
- In oca/website/website_lazy_load_image/models/ir_ui_view.py file, replace:
   html = etree.HTML(res) with
   html = etree.HTML(

[2018-12-14 06:43] simahawk commented on #551
@tarteo ping :)

[2018-12-14 10:12] tarteo commented on #551
Thanks @thanhacun, your fix seems to be the solution. Can you make a PR with your fix, please.

[2018-12-14 10:22] thanhacun commented on #551
Hi Dennis,

I just found another  problem:
- After installing the module, both original one, and my-temporary-one:
robots.txt file is invalid according to Google Audit Lighthouse tool

- And I still do not know how to do!

Best regards,

Truong Quang Thanh
mob.: +84-94-806-3388

On Fri, Dec 14, 2018 at 5:12 PM Dennis Sluijk <notifications@github.com>
wrote:

[2018-12-14 11:18] tarteo commented on #551
@thanhacun What is the error you get at Google Audit Lighthouse tool? I don't think it's related to the lazy loading module because it doesn't alter the robots.txt or sitemap.xml.

[2018-12-28 23:18] airmdb opened #553 "[11.0] website_logo: logo is ignored"
The logo set in the Website > Settings does not override the logo set in the Company details. This is true for my site as well as the Runbot site (in the Runbot site you'll see that a human heart serves as the logo, but in Website > Settings there is a picture of a person wearing blue scrubs).

What can I do to help troubleshoot this? I'm happy to work but don't know where to start.

[2018-12-28 23:25] pedrobaeza commented on #553
Have you refreshed without cache?

[2018-12-28 23:27] kwoychesko commented on #553
Yes, Chrome and Safari, just to be sure, but it's the Runbot instance, too, so I wouldn't have had that website in my cache anyway.

[2018-12-28 23:30] kwoychesko commented on #553
To clarify, I mean the "Try Me on Runbot" link for the website_logo module (https://runbot.odoo-community.org/runbot/186/11.0).

[2018-12-29 05:45] emagdalenaC2i commented on #388
@pedrobaeza Please, could you move up website_form_builder in the list so that it is sorted correctly in alphabetical order

Please add to the list website_form_metadata - By @chienandalu - #464 that is already migrated and merged

Please check website_no_crawler - By @ernestotejeda - #471

Please check website_sale_hide_empty_category - By @remytms - OCA/e-commerce#256

There is a PR for the migr

[2019-01-02 18:01] ivantodorovich opened #554 "[10.0] website_field_autocomplete - data-domain not working"
The domain is not being evaluated, so it's being concatenated as a string.
This raises a `ValueError: Invalid leaf`

For instance, this is a domain logged at the controller, right before searching `lef` with custom domain `[['id', 'in', [504, 505]]`:
[code]

@lasley

[2019-01-04 17:14] pedrobaeza commented on #553
It seems it's not working indeed. @ernestotejeda can you please check?

[2019-01-06 23:18] emagdalenaC2i commented on #388
@pedrobaeza Please, check website_canonical_url - By @simahawk - #460 because it is already merged

[2019-01-08 09:59] smurf-U commented on #515
website_img_dimension :- https://github.com/OCA/website/pull/557

[2019-01-08 10:10] smurf-U commented on #515
website_js_below_the_fold :- https://github.com/OCA/website/pull/558

[2019-01-08 10:24] smurf-U commented on #515
website_menu_by_user_status :- https://github.com/OCA/website/pull/559

[2019-01-08 10:46] smurf-U commented on #515
website_form_metadata :- https://github.com/OCA/website/pull/560

[2019-01-08 11:04] smurf-U commented on #515
website_no_crawler :- https://github.com/OCA/website/pull/561

[2019-01-08 14:41] baba75 opened #562 "[10.0] [website_seo_redirection] ecommerce with category"
When using the SEO redirection on products page, example:
/shop/product/product-name-a-b-1725  --> /shop/product-name
And the products are organized in categories, the category is not passed correctly in the URL.
The result will be:
/shop/product-name?category=<werkzeug.datastructures._omd_bucket+object+at+0xaec44c0c>
instead of:
/shop/product.name?category=10
As a consequence the server will answ

[2019-01-08 20:23] pedrobaeza commented on #562
I don't think this is something of the module itself. Try to use the other type of redirection.

[2019-01-09 19:18] aek commented on #551
This simple change fix everything

`html = etree.fromstring(res)`

There is no need for more I think. I have test it and it works as expected.
The usage of `etree.HTML` seems to add the html structure of `<html><body></body></html>` to enclose the rendered template and that breaks others stuffs.

[2019-01-10 11:28] simahawk commented on #551
@aek can you propose a PR and a test to precisely check that we get only the markup we expect?

[2019-01-11 22:52] ernestotejeda commented on #553
I think this problem shouldn't be because of website_logo module, maybe it could be a problem of compatibility with website_multi_theme module. I tested website_logo without having installed that module and in Firefox everything worked fine, although in Chromium and Opera it was necessary to delete cache and refresh them. But I also checked that without the website_logo installed when changing the

[2019-01-18 20:44] kwoychesko commented on #553
It may indeed be a problem with themes, though I don't think it's specific to website_multi_theme:
Vanilla Odoo:

- Vanilla Odoo: website_logo seems to work
- Vanilla Odoo with a theme by 73Lines (Echelon Theme): website_logo does not work
- OCA Runbot with webiste_multi_theme module: website_logo does not work

The website with the Echelon Theme has never had the website_multi-theme module instal

[2019-01-18 20:47] pedrobaeza commented on #553
The problem is then in the 73Lines theme. Closing as proven that it's not something on the module itself.

[2019-01-18 20:47] #553 closed

[2019-01-18 22:10] kwoychesko commented on #553
Close if you think that's correct, but I think it indicates that website_logo is not working with any theme installed. In my notes above website_logo only works in the no-theme case, which will be pretty rare (I bet 99% of websites have some theme installed). Again I'm happy to explore why website_logo doesn't work when a theme is installed, I just need a little hint where to look. :-)

[2019-02-06 01:22] munruf commented on #551
Hi guys I have checked both methods:
No one is provide full solution:
The issue is absolutely same, I'm using English as a primary language for website and Russian as translation.
1. change html = etree.HTML(res) with html = etree.HTML(res, parser=etree.HTMLParser(encoding='utf-8'))
fixed the issue
2. html = etree.fromstring(res)
geting internal server error:
___________
2019-02-06 01:20:35,403 1

[2019-02-11 13:43] cristinamartinrod commented on #515
website_snippet_marginless_gallery: https://github.com/OCA/website/pull/568

[2019-02-11 13:44] cristinamartinrod commented on #515
website_blog_excerpt_img : WIP

[2019-02-13 21:42] rowemoore opened #569 "[11.0][website_lazy_load_image] not changing img attribute to data-src"
module: website_lazy_load_image
version: 11.0

**Steps to reproduce**
Install module

**Current behavior**
img tag is not changing "from src="  to  "data-src="  regardless of css class.

**Expected behavior**
That the tag would change and the lazy js would be triggered.

I've tested this on my own build and on the runbot for the OCA where it was already installed.

[2019-02-14 09:14] cristinamartinrod commented on #515
WIP: website_blog_share

[2019-02-14 09:14] cristinamartinrod commented on #515
WIP: website_event_share

[2019-02-14 09:16] pedrobaeza commented on #515
Isn't website_blog_share now a standard feature?

[2019-02-14 09:16] pedrobaeza commented on #515
`website_event_share` should go to OCA/event.

[2019-02-14 09:37] tarteo commented on #569
How do check that data-src is not there? For website publishers this is not active only for actual visitors. Try to go to your website without logging in.

[2019-02-14 18:40] rowemoore commented on #569
I checked it as a public (not logged in) user.  Check out the [OCA Runbot](http://3355845-11-0-3d29dd.runbot1.odoo-community.org/) and see if I am missing something. Is it possible another module has been installed that is overriding the render_template method?

[2019-02-14 20:42] rowemoore commented on #569
Okay, I've looked at this some more and now see the data-src attribute.  For some reason it doesn't show in chrome dev tools but does in page source.  Sorry for the confusion.  Probably need to adjust something in dev tools.
To show you what I  am  seeing, here is the same page as an anonymous user:
![screenshot 104](https://user-images.githubusercontent.com/14188201/52816237-ad56a180-3055-11e9-81

[2019-02-14 20:42] #569 closed

[2019-02-22 12:23] cristinamartinrod commented on #515
WIP: website_snippet_anchor

[2019-02-22 12:25] cristinamartinrod commented on #515
WIP: website_breadcrumb (from 10.0)

[2019-02-22 12:36] cristinamartinrod commented on #515
Form v9.0 - website_snippet_big_button: https://github.com/OCA/website/pull/570

[2019-02-25 12:28] cristinamartinrod commented on #515
website_crm_recaptcha: https://github.com/OCA/website/pull/573

[2019-02-25 12:29] cristinamartinrod commented on #515
website_form_recaptcha: https://github.com/OCA/website/pull/572

[2019-02-27 18:57] cristinamartinrod commented on #515
website_crm_quick_answer - https://github.com/OCA/website/pull/577

[2019-03-01 09:33] eversatis commented on #372
I confirm the issue too. Why there is no solution for such long time?

[2019-03-18 16:00] oerp-odoo opened #580 "[10.0] website_cookie_notice: cookie removed after closing browser"
Is it intended to clear cookies after browser is closed? To me it looks like a bug, but want to make sure if it is.

In JS part:
[code]
If it is done like this, browser uses default to clear cookie after browser is closed. To make it stay, one must specify either `expires` or `max-age` attribute alongside. For example:

[code]
Where in this example one year of age is specified. I could create PR,

[2019-03-20 09:11] yajo commented on #580
IMHO that's a bug. Please feel free to open the PR. Thanks!

[2019-03-23 12:36] UnixedIT opened #584 "[11.0] Website Form Builder: *Required Fields"
Hello,

When Submitting the Form without "user log in" all mandatory fields appear as optional fields.

please find the attached 1.png.

if the user log-in there is no problem as attached  2.png.

![1](https://user-images.githubusercontent.com/32422485/54866122-e1219700-4d78-11e9-95ec-a32abfea5305.png)
![2](https://user-images.githubusercontent.com/32422485/54866123-e1219700-4d78-11e9-8012-b6c7928

[2019-03-25 09:35] yajo commented on #584
See fix at #585

[2019-03-25 13:03] UnixedIT commented on #584
Thank you @Yajo for fixing.

-as you know-please note the fix is working for Styling only. but the public users still able to submit the form event they don't fill the mandatory fields.

[2019-04-03 12:01] mgielissen opened #587 "[12.0] website_js_below_the_fold: odoo.define is not a function on /payment/process"
When processing a payment in the webshop, /payment/process gives an error in webconsole:

process:298 Uncaught TypeError: odoo.define is not a function
    at process:298

<script>
                odoo.define('payment.processing_bootstrap', function(require) {
...</script>

[2019-04-07 06:41] eLBati commented on #544
Hi @amrani1insaf , `website_form_builder` is not available for v12 AFAIK

[2019-04-07 11:41] pedrobaeza commented on #544
Yes, closing.

[2019-04-07 11:41] #544 closed

[2019-04-16 14:22] go4site opened #588 "Can not install using easy method"
Hi,
I am trying to install some modules into Odoo V12 (source). But getting errors. Please see one example below:

pip3 install odoo12-addon-website-canonical-url --extra-index-url=https://wheelhouse.odoo-community.org/oca-simple
Looking in indexes: https://pypi.org/simple, https://wheelhouse.odoo-community.org/oca-simple
Collecting odoo12-addon-website-canonical-url
  Downloading https://files.py

[2019-04-19 12:46] eversatis commented on #587
I have the same issue which cause payment/process stuck and no jump to confirmation page.

[2019-04-23 08:18] eversatis opened #591 "website_addthis Raise website Title Chaos"
After website_addthis installed and configured, you will find a string "FacebookTwitterPrintEmailAddThisFacebookTwitterPrintEmailAddThis" added to the end of Home Title in the promote SEO page. If you remove it, it will repeat the set Title several times after you refresh the page.
Reproduce: You need edit the home page title first after website_addthis installed and enabled. The issue would not b

[2019-04-29 10:49] eversatis commented on #587
Why no one pay attention to this issue? the module is good in speed performance but it cause payment issues. I can reproduce it in the odoo runbot. So it is definitely an bug. Is there anyway not put the js below the fold on payment page?

[2019-04-29 10:56] eversatis commented on #587
@tarteo Could you have look into the issue please. Thank you

[2019-04-29 23:17] ska-ibees commented on #587
Yes, I can confirm this issue.
/payment/process is only one example. Same issue could happen with any page having inline JS script which requires JS bundles as dependency.

[2019-04-30 07:25] tarteo commented on #587
@frankmiao2015

This is a community where nobody is obligated to work on something...
I never used the Odoo e-commerce module so this issue never occurred to me. I will fix this when I need it for a project myself.
If this bug is so obstructive why don't you fix it yourself?

[2019-04-30 14:56] ska-ibees commented on #587
@tarteo First of all thanks for sharing your hard work with the community. Yes, we should try to solve things by over own first. A way to learn... but you know common problems with the newbies like me...

@mgielissen @frankmiao2015

I would like to share a workaround... I have successfuly tested it. But please do your testing and let me know if you find any issues.
The main reason for this error i

[2019-05-02 06:54] ayobello commented on #51
I have just encountered this issue in v12. Anyone found a permanent solution yet?

[2019-05-02 21:57] apesquero opened #592 "[12.0] website_anchor_smooth_scroll it does not work correctly"
The module does not do what it says. Tested on try-me and in my own installation. It does not correctly execute the "Scroll to bottom" and "Scroll to top" buttons

[2019-05-03 07:52] yajo commented on #592
Please supply steps to reproduce and reopen. Thanks!

[2019-05-03 07:52] #592 closed

[2019-05-04 16:27] keylor2906 commented on #515
website_snippet_timeline: https://github.com/OCA/website/pull/593

[2019-05-04 17:28] keylor2906 commented on #515
website_snippet_preset: https://github.com/OCA/website/pull/594

[2019-05-04 17:30] JonathanOsAlc commented on #591
@frankmiao2015 which version is?

[2019-05-04 22:12] keylor2906 commented on #515
website_media_size: https://github.com/OCA/website/pull/595

[2019-05-05 18:02] JonathanOsAlc commented on #515
website_addthis: #596

[2019-05-06 10:47] eversatis commented on #587
@tarteo First, I should say sorry to disturb you by the @ action and this time again. But I did not mean that you are obligated on the thing.  I was just trying to draw your attention in case you did not aware of the issue. As for the fix, honestly speaking, I barely have no knowledge on js. I am new to coding as well as github. I simply tried the @function by the author key word and in luck found

[2019-05-06 10:53] eversatis commented on #591
@JonathanOsAlc I use version odoo 12

[2019-05-06 12:01] simahawk commented on #591
Seems a duplicate of https://github.com/OCA/website/issues/493

[2019-05-06 20:49] tbaden opened #598 "[12.0] travis cleanup"
- [x] website_cookie_notice @tbaden https://github.com/OCA/website/pull/602
- [x] website_js_below_the_fold @tbaden https://github.com/OCA/website/pull/599
- [x] website_anchor_smooth_scroll @tbaden https://github.com/OCA/website/pull/600
- [x] website_crm_recaptcha @tbaden https://github.com/OCA/website/pull/601

[2019-05-06 20:49] tbaden commented on #598
************* Module website_cookie_notice
website_cookie_notice/static/src/js/accept_cookies.js:12: [W7903(javascript-lint), ] Missing space before function parentheses. [Error/space-before-function-paren]
website_cookie_notice/static/src/js/accept_cookies.js:13: [W7903(javascript-lint), ] Missing space before function parentheses. [Error/space-before-function-paren]
website_cookie_notice/static/

[2019-05-06 21:36] tbaden opened #603 "[11.0] travis cleanup"
- [x] website_multi_theme @tbaden https://github.com/OCA/website/pull/606
- [x] website_adv_image_optimization @tbaden https://github.com/OCA/website/pull/607
- [x] website_cookie_notice @tbaden https://github.com/OCA/website/pull/608
- [x] website_img_dimension @tbaden https://github.com/OCA/website/pull/609
- [x] website_lazy_load_image @tbaden https://github.com/OCA/website/pull/610
- [ ] websi

[2019-05-06 21:36] tbaden commented on #603
<details><summary>Logs</summary>

[code]

</details>

[2019-05-06 21:40] tbaden opened #604 "[10.0] travis cleanup"
- [x] website_multi_theme @tbaden https://github.com/OCA/website/pull/624
- [x] website_seo_redirection @tbaden https://github.com/OCA/website/pull/625
- [x] website_cookie_notice @tbaden https://github.com/OCA/website/pull/626
- [ ] website_snippet_data_slider
- [x] website_snippet_country_dropdown @tbaden https://github.com/OCA/website/pull/627
- [x] website_blog_category @tbaden https://github.

[2019-05-06 21:40] tbaden commented on #604
<details><summary>log</summary>
[code]
</details>

[2019-05-06 22:18] ska-ibees commented on #587
You are welcome @frankmiao2015 . Happy to help!

[2019-05-08 06:15] jarmokortetjarvi opened #605 "[10.0] Weblate tranlation is empty"
(This should probably be in a transbot-repo, but couldn't find where it is)

Auto-generated translation is empty, even though it is done in Weblate.

Weblate translation:
https://translation.odoo-community.org/projects/website-10-0/website-10-0-website_signup_legal_page_required/fi/

Related commit:
https://github.com/OCA/website/commit/666a0a8b900f0e0074e4a7922aa787b73253ec7e

[2019-05-08 06:33] simahawk commented on #425
implemented here https://github.com/OCA/website/pull/507

[2019-05-08 06:33] #425 closed

[2019-05-08 07:40] pedrobaeza commented on #605
@sbidoul any idea?

[2019-05-09 12:16] miqmago opened #619 "[10.0] website_legal_lage - ImportError: cannot import name raise_from"
I'm also having issues with six in odoo-10.
Error:

[code]

This is the environment (after upgrading python 2.7.9 -> 2.7.16, to see if this resolves the issue):

[code]

[code]

[2019-05-09 14:30] pedrobaeza commented on #619
Sorry, but this is something in your deployment, not of the module itself. Install six properly.

[2019-05-09 14:30] #619 closed

[2019-05-09 22:09] #598 closed

[2019-05-11 10:12] sbidoul commented on #605
@jarmokortetjarvi fi.po looks fine for this module: https://github.com/OCA/website/blob/10.0/website_signup_legal_page_required/i18n/fi.po. There was a commit just after the one you mention.

[2019-05-11 10:13] sbidoul commented on #605
Closing, do not hesitate to reopen if I missing something.

[2019-05-11 10:13] #605 closed

[2019-05-11 12:35] jarmokortetjarvi commented on #605
Yes, I was looking at the wrong (empty) commit. My mistake!

[2019-05-11 17:35] tbaden opened #629 "[10.0] travis build fails"
the module website_sale this causing the build TESTS="1" ODOO_REPO="odoo/odoo" to fail.

2019-05-11 17:04:24,146 7269 ERROR openerp_test odoo.addons.website_sale.models.sale_order: Fail to find pricelist for partner "Public user" (id 5)

to see in PR:
https://github.com/OCA/website/pull/567
https://github.com/OCA/website/pull/624
https://github.com/OCA/website/pull/625

First occurance around 11 j

[2019-05-19 09:50] angerangel commented on #588
me too. I use ubuntu odoo 12

I have odoo (12.0.post20190514)

[2019-05-27 14:22] pedrobaeza commented on #629
@sergio-teruel is this the error you have mentioned before?

[2019-05-28 07:42] tbaden commented on #629
currently struggeling to reproduce this error locally, but I'm on it.

[2019-05-28 08:15] johnbangad opened #640 "odoo11-addon-website-menu-by-user-stat"
Can't pip install error says

Could not find a version that satisfies the requirement odoo<11.1dev,>=11.0a (from odoo11-addon-website-menu-by-user-status==11.0.1.0.0) (from versions: )
No matching distribution found for odoo<11.1dev,>=11.0a (from odoo11-addon-website-menu-by-user-status==11.0.1.0.0)

[2019-05-29 00:27] tbaden commented on #629
after some late night investigation it seems that website_sale_line_total and website_sale_hide_empty_category are both causing this issue. disabling just one of them still causes the issue.it's not Website_sale either, added this dependency in unrelated repo(project) without any issues. Must be a combination of different dependencies. further investigation is planned for tomorrow, to find the cau

[2019-05-29 08:19] jbgraffiti commented on #15
hi

 I get exactly this issue (v.8) ONLY when I have created a duplicate event from the drop down menu.
" ('ValidateError', u'Error while validating constraint\n\nNo more available seats.')"

-original event - works with user logged on - max seats specified, no ticket type. free ticket, user registered
- duplicate copy of original event - exactly the same but traceback error

![Internal_Server_Err

[2019-05-29 08:23] jbgraffiti opened #641 "https://github.com/OCA/website/issues/15"
hi

I get exactly this issue (v.8) ONLY when I have created a duplicate event from the drop down menu.
" ('ValidateError', u'Error while validating constraint\n\nNo more available seats.')"

-original event - works with user logged on - max seats specified, no ticket type. free ticket, user registered

duplicate copy of original event - exactly the same but traceback error
![Internal_Server_Error]

[2019-05-29 08:34] pedrobaeza commented on #641
The error is clear: you don't have more seats. Free some of them.

[2019-05-29 08:34] #641 closed

[2019-05-29 10:23] jbgraffiti commented on #641
thankyou pedro

----- Original Message -----

From: "Pedro M. Baeza" <notifications@github.com>
To: "OCA/website" <website@noreply.github.com>
Cc: "jbgraffiti" <jon@smartboxoftricks.com>, "Author" <author@noreply.github.com>
Sent: Wednesday, 29 May, 2019 9:34:24 AM
Subject: Re: [OCA/website] https://github.com/OCA/website/issues/15 (#641)

The error is clear: you don't have more seats. Free some o

[2019-05-29 19:45] tbaden commented on #629
the test:
[code]
is the cause of all this. seems like urllib2 has problems with 127.0.0.1. this needs further investigation, but the train wifi is killing my researches...
in v11 it got changed to:
[code]

@pedrobaeza do you know by any change any known issues with urllib2 and 127.0.0.1.
was there a travis update or somehting like this around january/february? this would explain the spontaneous er

[2019-05-29 20:22] tbaden commented on #629
https://github.com/OCA/website/pull/398#discussion_r150485077 no real reason mentioned for this change, but most likely the same reason

[2019-05-29 22:01] tbaden commented on #629
@Yajo any experience with urllib and failing tests when using ip?

[2019-05-30 12:17] tbaden commented on #629
missed the obvious. creation of
            ip = env["website"].create({
                "name": "127.0.0.1",
                "domain": "127.0.0.1",
                "multi_theme_id": False,
            })
but pricelist computation gets no pricelist for the new id. looking for recent changes on this kind of topic

[2019-06-02 00:50] emagdalenaC2i commented on #515
Please, check website_js_below_the_fold - By @smurf-U - #558 that is already merged

Please, check website_snippet_big_button - By @cristinamartinrod - #570 that is already merged

There is a PR for the migration of check website_addthis - By @JonathanOsAlc - #596

Please, add the PR number to website_blog_excerpt_img - By @cristinamartinrod - #581

[2019-06-02 15:30] erphao opened #644 "website_form_recaptcha on V3 isn't support"
error：error type！

[2019-06-02 20:17] pedrobaeza commented on #644
What is V3? Which Odoo version? We need more information, like complete trace stack on debug with assets mode.

[2019-06-03 08:42] tbaden commented on #629
Currently Not in the Office, but most likely found the commit, just some Tests needed. Update follows in the following days

[2019-06-03 08:43] Yajo commented on #629
Hi there.

I'm not sure what's the source of this problem. It might be that the `website_multi_theme` addon is installed before others, which could make main website not get the views added by other addons. In such case, you should split travis jobs to test that addon separately from the others, using INCLUDE and EXCLUDE vars, setting the matr

[2019-06-03 08:49] yajo commented on #629
Hi there.

I'm not sure what's the source of this problem. It might be that the `website_multi_theme` addon is installed before others, which could make main website not get the views added by other addons. In such case, you should split travis jobs to test that addon separately from the others, using `INCLUDE` and `EXCLUDE` vars, setting the `matrix` key in `.travis.yml` like:

[code]

However, t

[2019-06-03 08:56] tbaden commented on #629
@Yajo there was a recent change which switched to multi pricelist computation in v10, most likely a missed clause in the changes.

[2019-06-21 01:35] walkerblackwell opened #648 "This plugin brakes Odoo Paypal integration"
When this plugin is turned on the redirect url from Paypal back to the odoo site does not work. The payment is not registered as paid. This is due to the javascript not being available.

There needs to be a way to keep the payment gateway javascripts at the top.

best,
Walker

[2019-06-21 07:28] tarteo commented on #648
Which module / version.

[2019-06-21 13:56] walkerblackwell commented on #648
V12 Enterprise, Odoo.sh, js below the fold.

Sorry, meant to put that detail in,
Walker

[2019-06-27 15:04] tarteo commented on #648
Related to: https://github.com/OCA/website/issues/587

[2019-07-01 13:54] hugo49 opened #649 "load could not load template"
I install website_logo sour my odoo.
I am blocked by one or more errors.
https://www.odoo.com/apps/modules/12.0/website_logo/
​

What can I do?

None
Traceback (most recent call last):
File "/usr/lib/python3/dist-packages/odoo/api.py", line 1039, in get
value = self._data[key][field][record._ids[0]]
KeyError: 2

During handling of the above exception, another exception occurred:

Traceback (most r

[2019-07-01 13:55] pedrobaeza commented on #649
As said in odoo/odoo issue tracker, this is due to modifications you have in your DB in master templates, so fix that.

[2019-07-01 13:55] #649 closed

[2019-07-01 13:57] hugo49 commented on #649
I did not make any database changes. The problem appeared when installing the module.

[2019-07-01 14:07] pedrobaeza commented on #649
You can check in runbot that is working correctly:

https://runbot.odoo-community.org/runbot/186/12.0

Maybe it's your deployment method. Any way, it's working properly.

[2019-07-01 14:33] hugo49 commented on #649
just send the download files to the directory like the other modules. The entire application is planted. how to get back before installing website_logo.

[2019-07-01 14:34] pedrobaeza commented on #649
Uninstall it

[2019-07-01 14:35] hugo49 commented on #649
I do not, my web interface is out of order.

[2019-07-01 14:36] pedrobaeza commented on #649
Try and update all via interface, but this is out of scope of this issue tracker.

[2019-07-01 14:37] hugo49 commented on #649
I do not understand, not update through the interface?

[2019-07-01 14:39] pedrobaeza commented on #649
No, through command line with -u all.

[2019-07-01 14:43] hugo49 commented on #649
Can you give me the entire command, because I just did apt-get update and upgrade. no update.

[2019-07-01 14:51] pedrobaeza commented on #649
Sorry, but it depends on your deployment, and I don't know right now how it goes, even although you tell me the deployment method. As said, this is something out of scope.

[2019-07-02 16:27] tbaden commented on #629
as I was a little sidetracked by my actual work I forgot to work on this one. Will start another debug session on this weekend to finally fix this.

[2019-07-04 08:50] simahawk commented on #551
the solution I proposed on https://github.com/OCA/website/pull/571 seems to play nice w/ translations too.
NOTE: part of the issues (wrapping elem) reported here is related and handled by #571
Can you guys test it in your context?

[2019-07-05 07:17] simahawk commented on #648
@walkerblackwell pls check if the solution described on #587 solves your issue.
Meanwhile we can close this as I don't see any further detail.
Feel free to reopen it if needed.

[2019-07-05 07:17] #648 closed

[2019-07-08 09:07] erphao commented on #644
google recaptcha V3,when google recaptcha set V3,the recaptcha control show "error：error type！"error!

[2019-07-18 23:38] hugho-ad commented on #551
Hi, could you test following pr
https://github.com/OCA/website/pull/651

[2019-07-24 12:32] amel-harrath commented on #588
Any luck with this yet?

[2019-07-30 10:32] NL66278 commented on #629
I do not know why other projects using website_sale on 10.0 are not showing the same errors, but checking in runbot shows that indeed the public user does not have a pricelist set. Probably due to the fact that it is an inactive user, so probably not seen when pricelists are activated.

The obvious solution to me seems to be to give the public user the default pricelist.

[2019-07-30 20:24] hugho-ad commented on #515
About website_lazy_load_image
The work will continue at https://github.com/OCA/website/pull/656

This is deprecated https://github.com/OCA/website/pull/647

[2019-08-04 16:36] sbidoul commented on #588
Hi,

The message `No matching distribution found for odoo<12.1dev,>=12.0a (from odoo12-addon-website-canonical-url)` means `odoo` version 12 is a dependency `odoo12-addon-website-canonical-url` and pip can't find it in the environment where you try to install.

So you need to `pip install` Odoo first.

For example the following works, using bash:

[code]

If you have a local copy of Odoo, you can

[2019-08-04 16:39] #588 closed

[2019-08-06 08:22] #551 closed

[2019-08-19 08:46] PasLaurent opened #659 "[12.0] [Website_cookie_notice] on click http 404 error URI (XHR)POST - https://****/website_cookie_notice/ok"
HTTP404: RESSOURCE MANQUANTE. Le serveur n’a trouvé aucune correspondance pour l’URI demandé (Uniform Resource Identifier).
(XHR)POST - https://*****/website_cookie_notice/ok

[2019-08-19 09:12] pedrobaeza commented on #659
Please follow "Try me on runbot" badge on the README to try there if it's failing.

[2019-08-27 09:49] kharkot opened #664 "[12.0] [Website_cookie_notice] - wrong position in case enabling transparent block for Top Menu"
In case enabling transparent block for Top Menu additional class is added to header of homepage  :

class="homepage   o_header_overlay"

(duplicated on runbot)

![s1](https://user-images.githubusercontent.com/43400881/63760996-a9d38b00-c8c0-11e9-855e-945754fdeb04.jpg)
![s2](https://user-images.githubusercontent.com/43400881/63760997-aa6c2180-c8c0-11e9-99b8-23fc1bb2b409.jpg)

[2019-08-27 11:37] pedrobaeza commented on #664
You are modifying HTML, so you must adapt accordingly cookie notice, but this is on your custom side, not on the module.

[2019-08-27 11:42] kharkot commented on #664
@ pedrobaeza - I do not modify HTML directly - I have set only one option from website Builder (standard in Odoo)...
![s3](https://user-images.githubusercontent.com/43400881/63768384-5701cf80-c8d0-11e9-9ef0-70592a4af702.jpg)

But if that module is not universal - OK - your decision.

[2019-08-27 11:43] pedrobaeza commented on #664
OK, you need to start from that then. Reopening.

[2019-09-21 18:23] seyuf commented on #584
@pedrobaeza can you please reopen this? As the issue is still there.
The css has been fixed but the wrong behavior is still there. I.e
![required-field-not-set](https://user-images.githubusercontent.com/3765910/65377528-9d6b0400-dcad-11e9-9655-33357980fc31.png)

The form appears valid even though the email (courriel) field has not been filed.
On the screenshot, one can notice the say input is miss

[2019-09-21 19:55] rafaelbn commented on #584
Dear @seyuf , reproduce the error here in runbot. I cannot reproduce:

http://3385143-12-0-9bc24f.runbot2-2.odoo-community.org/

![2019-09-21_21-51-58](https://user-images.githubusercontent.com/8736623/65378582-94ccfa80-dcba-11e9-8e73-2268c4cb492d.png)

[2019-09-21 20:09] seyuf commented on #584
Hi @rafaelbn ,
Im using odoo 11 after a quick test on your runbot.
The form is sent as long as the first field is filled. Which shouldn't be the case.
It should be sent only when all the required fields are.
![error-required-field](https://user-images.githubusercontent.com/3765910/65378670-28eb9180-dcbc-11e9-8847-6b7ffabd3caf.jpeg)

Also, on my version, the backend check, contrary to the runbot, c

[2019-09-21 20:14] pedrobaeza commented on #584
You can't try this on runbot without uninstalling `website_form_recaptcha`, as both are incompatible. Remove it and all should be OK.

[2019-09-21 20:18] seyuf commented on #584
Also i believe the runbot is under Odoo12? The issue has been detected on odoo 11.

[2019-09-21 20:23] seyuf commented on #584
@rafaelbn has mentioned by @pedrobaeza, i just removed recaptcha plugins from the runbot.
The form is sent and considered as valid on odoo12 as well. You can test now.
![wrong-form-required](https://user-images.githubusercontent.com/3765910/65378813-62bd9780-dcbe-11e9-90b8-486e59fbb925.jpeg)

[2019-09-21 20:23] pedrobaeza commented on #584
There is runbot for both 11 and 12. Just click on the appropriate one.

[2019-09-21 20:26] seyuf commented on #584
Yep as stated above the issue seems to be present on 11 & 12.

[2019-09-21 22:01] pedrobaeza commented on #584
OK, reopening for now until further investigation

[2019-09-21 22:02] pedrobaeza commented on #584
@Yajo can you check?

[2019-09-22 11:37] rafaelbn commented on #584
OK, so uninstalling `website_form_recaptcha` the BUG occurs:

![2019-09-22_13-33-15](https://user-images.githubusercontent.com/8736623/65386595-13b74700-dd3e-11e9-833e-a56ca6ab8750.png)

[2019-09-29 21:52] OCA-git-bot opened #667 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [ ] ~~website_anchor_smooth_scroll~~ - Included in core
- [ ] ~~website_blog_excerpt_img~~ - Included in core
- [x] website_breadcrumb - By @bjornbillen - #686
- [x] ~~website_canonical_url~~ - Handled in core
- [x] website_cookie_notice - ~~By @bjornbillen  - #681~~ By @Tardo - #713
- [x] websi

[2019-10-16 20:03] emagdalenaC2i commented on #667
website_legal_page #670

[2019-10-24 22:59] tungpd0484 opened #675 "How to add recaptcha into signup screen"
Hello
I installed website_form_recaptcha and refer to website_crm_recaptcha in oder to add recaptcha into contactus by following code:

      <template id="contactus_form"
              inherit_id="website_crm.contactus_form"
              name="Contact Form Captcha">
        <xpath expr="//div[hasclass('form-field')][last()]" position="after">
            <div class="form-group row form-field o_w

[2019-10-25 14:58] citronpower commented on #675
Add the class "s_website_form" in your form.
[code]

[2019-10-28 12:54] tungpd0484 commented on #675
Thank you so much for prompt reply, I can display in sign up form following your advice. I will close this issue here.

[2019-10-28 12:54] #675 closed

[2019-12-05 19:19] ougc27 commented on #667
website_odoo_debranding #676

[2019-12-31 08:36] sudhir-erpharbor commented on #515
Why website_analytics_piwik module is not migrated? Is there any alternative in v12 of this module?
@pedrobaeza

[2019-12-31 11:22] pedrobaeza commented on #515
Because nobody has migrated it yet.

[2020-01-03 15:34] luisplanes opened #677 "[12] [website_no_crawler] error when get robots.txt"
When get robots.txt directly browser odoo reponse with Internal Server Error:

[code]

[2020-01-06 00:26] pedrobaeza commented on #677
Please try to reproduce the problem in runbot.

[2020-01-08 13:20] tarteo commented on #667
Is website_form_builder still needed? I think it's in community by default in 13.0.

[2020-01-08 13:21] pedrobaeza commented on #667
Yes, the only missing thing is in https://github.com/odoo/odoo/pull/34103

[2020-01-08 15:12] tarteo commented on #667
Same for `website_snippet_anchor`, `website_js_below_the_fold` and `website_anchor_smooth_scroll` are now also in 13.0 core.

[2020-01-15 10:52] bjornbillen commented on #667
website_cookie_notice #681

[2020-01-15 12:33] yajo commented on #667
These need an openupgrade script then.

[2020-01-15 14:07] bjornbillen commented on #667
website_google_tag_manager #682

[2020-01-15 14:42] bjornbillen commented on #667
website_form_recaptcha #684
website_crm_recaptcha #685 (depends on #684)

[2020-01-16 14:20] bjornbillen commented on #667
website_breadcrumb #686

[2020-01-16 15:51] bjornbillen commented on #667
website_blog_excerpt_img functionality is already in the core of 13.0

[2020-01-16 15:54] bjornbillen commented on #667
website_crm_privacy_policy #687

[2020-01-17 09:24] bjornbillen commented on #667
website_logo functionality is already in the core of 13.0

[2020-01-29 08:25] bjornbillen commented on #667
@pedrobaeza : any chance that someone is going to look at this repo again ??

[2020-01-29 08:29] pedrobaeza commented on #667
I don't get you, and I'm not anymore OCA community manager, so I'm not taking care of this.

[2020-02-02 17:40] treviser opened #691 "website_img_bg_style: Error with premigration script OpenUpgrade 9.0 -> 10.0"
Impacted versions:
Latest version of Openupgrade 10.0 installed with

sudo -H pip install --ignore-installed git+https://github.com/OCA/openupgradelib.git@master
Steps to reproduce:
Started a migration of a database using OCA module website_img_bg_style

Current behavior:

2020-01-26 14:22:07,188 14453 ERROR MyDatabaseName OpenUpgrade: website: error in migration script website/migrations/10.0.1.0

[2020-02-03 15:34] bjornbillen commented on #667
Sorry to have bothered you. It kinda blew my mind that it took almost two weeks for someone to respond. I thought tagging somebody would possibly make a difference..

[2020-02-06 11:16] bizzappdev commented on #667
website_form_recaptcha #693
website_crm_recaptcha #694

[2020-02-07 07:53] simahawk commented on #667
The list is up to date now.
@bjornbillen you can encourage ppl to help you w/ reviews by reviewing others' PR as well.
Today is OCA review day, it's a good day to start :wink:

[2020-02-07 08:11] bjornbillen commented on #667
Thanks a mill simahawk. Will do :-)

[2020-02-13 08:29] gregory-moka opened #696 "Cookie notice > GDPR compliance"
Not a real issue here, but a question about GDPR compliance of the Cookie Notice app.
To comply with the regulations governing cookies under the GDPR and the ePrivacy Directive we must:

1. **Receive users’ consent** before you use any cookies except strictly necessary cookies.
2. Provide accurate and specific information about the data each cookie tracks and its purpose in plain language **before

[2020-02-19 16:38] colmeirin commented on #677
Hello, I reproduced the same issue in an custom enviroment and runbot.
In runbot just go to runbot and ask for /robots.txt and it will fail
<img width="995" alt="Captura de pantalla 2020-02-19 a las 17 31 57" src="https://user-images.githubusercontent.com/5647643/74853335-12666680-533e-11ea-8e98-6e5d813a3c30.png">

It seems an inheritance bug. It can be properly generated swaping:

`<xpath expr=".

[2020-02-19 16:40] pedrobaeza commented on #677
Are there several databases without dbfilter?

[2020-02-19 16:45] colmeirin commented on #677
At my custom enviroment, no. It's the only database. And at runbot seems like it is also the only database:
<img width="938" alt="Captura de pantalla 2020-02-19 a las 17 43 47" src="https://user-images.githubusercontent.com/5647643/74854312-776e8c00-533f-11ea-99d1-7fa20a7385dd.png">

[2020-02-19 16:46] pedrobaeza commented on #677
Please put the link to that runbot. And the inheritance problem you mention, with which module is interacting bad?

[2020-02-19 16:55] colmeirin commented on #677
link to runbot: [http://3404981-12-0-f4782f.runbot1-2.odoo-community.org/](url)
add /robots.txt and it will fail.
the module is OCA/website/website_no_crawler.
This is the original view:
<img width="917" alt="Captura de pantalla 2020-02-19 a las 17 50 44" src="https://user-images.githubusercontent.com/5647643/74855437-fd3f0700-5340-11ea-843d-8b29cb64ef50.png">
and it's defined at odoo core "websit

[2020-02-19 17:01] pedrobaeza commented on #677
OK, I see. Do you please make the PR fixing it?

[2020-02-19 23:25] #209 closed

[2020-02-21 09:26] colmeirin commented on #677
Fix has been merged. Maybe you can close the issue. Regards!

[2020-02-21 09:41] #677 closed

[2020-03-23 10:47] ivantodorovich opened #705 "[Question] website_google_tag_manager usage"
Hi @sebalix @cristinamartinrod

We have a requirement to implement Google Adwords conversion tracking using Google Tag Manager.

But I see that this module is not implementing GTM according to Google Documentation (ie: https://support.google.com/google-ads/answer/6095821) nor I know how to do it using this module.

According to the docs, this is what we should add to the page:

![image](https://us

[2020-03-24 16:00] ivantodorovich commented on #705
@bjornbillen maybe you can help me out :sweat_smile:  ?

[2020-03-27 13:04] joelperez96 opened #707 "Recaptcha validation"
Hi!
I've recently installed the website_form_recaptcha in my odoo community version 8 website. I follow the steps indicated in the description in order to set the recaptcha in the login form. I've established both site and secret key values in the system parameters, and I can see the recaptcha box in the login form. My issue is that I don't know how to make the validation in order to avoid the suc

[2020-04-02 12:11] #705 closed

[2020-04-16 10:33] robertobarreiro commented on #707
Same issue here for v8.0 on contact form. Form validated and messages sended without captcha verification.

[2020-04-16 11:19] joelperez96 commented on #707
Hi Roberto! I finally solved the problem. What I've done is the following:
My problem was on the login form, so when I send the login form to the server, the method that validates this form is the method **_login** in **/usr/local/lib/python2.7/site-packages/openerp/addons/base/res/res_users.py**.
 In that method, the form fields (in this case username and password) are validated, so I have added

[2020-04-16 11:22] #707 closed

[2020-04-16 15:43] robertobarreiro commented on #707
Isn't that supposed to check on the form that has an object of class o_website_form_recaptcha, without having to add additional code?

[2020-04-16 16:33] pedrobaeza commented on #707
No, it requires to be explicitly added.

[2020-04-16 16:34] pedrobaeza commented on #707
Check website_crm_recaptcha for an example.

[2020-04-16 21:37] flotho commented on #587
@go4site , I confirm that your patch s working.
Maybe the module has to had a little rewrite so that this inheritance could be handled properly by the module.
What's you point of view ?

[2020-04-17 08:42] joelperez96 commented on #707
Hi Roberto! As Pedro said it requires to be added in the python code. In fact, the goal of a recaptcha is to avoid DoS or brute force attacks from bots. If you did the validation in the client side (it means, in the form), the bots would can skip these validation and send the requests to the server without problem. Due to it, the validation requires to be done in the server side, it means, in the

[2020-04-17 08:54] robertobarreiro commented on #707
Thank you Pedro and Joel. I will try to achieve it taking a look to website_crm_recaptcha. Have a nice day!

[2020-04-24 09:51] ecino commented on #515
Is `website_multi_theme` still needed for v12 or are multiple themes supported natively?

[2020-04-24 09:52] pedrobaeza commented on #515
Native

[2020-04-24 09:53] ecino commented on #515
Ok thanks, so maybe we should remove this module from the todo list?

[2020-04-24 09:56] pedrobaeza commented on #515
OK, striked (not removed), as then the contrary question may arise

[2020-04-26 17:16] bizzappdev commented on #587
meanwhile, don't you think so it would be great to add this as known issue in the module readme?

[2020-05-02 10:43] HamaniKhalil opened #717 "[10.0] website_multi_theme: Uninstallation removes automatic footer"
Hi, while trying to build a website I installed this module to see what features would I have in hand that may be useful. But at one point I realised that it didn't match my needs so I uninstalled it and that removed the website footer, alongside with the website editor switch "Automatic Footer" (in fact all the "Footer" section was removed from "Costumize" menu in the website editor)

I'd like to

[2020-05-02 10:46] pedrobaeza commented on #717
Which module? Which Odoo version?

[2020-05-02 10:57] HamaniKhalil commented on #717
Oh sorry I didn't specify ! The module is website_multi_theme and I installed it on Odoo 10.0. In order to make sure that it was the one causing the trouble, I had do the following process :

    - Create a new database (or restore an existing one in which website builder is already installed)
    - Install website_multi_theme
    - Check the footer (ok at this point)
    - Uninstall website_multi

[2020-05-02 11:01] pedrobaeza commented on #717
Well, that module is very hacky and add/remove views that are attached to the theme, so it can be that you lose that them footer. If so, it's not possible to recover it.

[2020-05-02 11:07] HamaniKhalil commented on #717
Yeah that's what I thought too ! But I needed to get community confirmation ! So thanks for the reply, and especially for being that quick! Have a good day.

[2020-05-02 11:12] pedrobaeza commented on #717
OK, closing as "won't fix" due to the reasons above.

[2020-05-02 11:12] #717 closed

[2020-05-11 13:20] ska-ibees commented on #587
@flotho @bizzappdev
Sorry for the late reply.
I agree with both of you. In fact, this impact is very critical as it affects payment flow and you do not know unless you test it.

I hope Tarteo reads it and adds my code in the module or at least adds this as known issue in the module readme.

[2020-05-12 22:19] flotho opened #718 "v12 - Doctype tml is missing"
Hi everyone,

I'm facing the same issue as https://github.com/odoo/odoo/issues/44612

I confirm that it's running properly on runbot Odoo and runbot OCA/OCB.

Yet OCA/website is obviously causing troubles , checked on this db http://3421796-12-0-317600.runbot2-2.odoo-community.org
![image](https://user-images.githubusercontent.com/1043935/81751287-7026cc80-94af-11ea-84a6-573a228ec038.png)
no docty

[2020-05-12 22:21] flotho commented on #718
Once connected, the doctype appears

[2020-05-12 22:31] flotho commented on #718
after desinstalling one by one each module, I confirm that the lazy load image module is causing the issue.

[2020-05-12 22:33] flotho commented on #718
Hi @tarteo ,

Do you confirm that this bug is also affecting you ?

Regards

[2020-05-12 22:38] flotho commented on #718
hummm, not so simple, it looks like it's a combination of module and a specifc installation sequence that cause the issue.

[2020-05-12 22:42] flotho commented on #718
I confirm on my installation that uninstalling lazy load image seems to be the main part of the problem

[2020-05-12 22:52] flotho commented on #718
desactiving the wiew that add js is not enough so it looks like a python issue

[2020-05-14 10:03] baba75 opened #721 "[12.0] website_lazy_load_image and events"
Hello,
when website_lazy_load_image is installed the Register button of an online Event is not working from mobile device.

[2020-05-27 15:54] robertobarreiro opened #727 "users can send messages in contact form without complete website_crm_recaptcha"
I have installed website_crm_recaptcha at odoo8, I added google keys to my system parameters and captcha appears at my contact form, but send button can be clicked and message it's sended without making captcha verification.

The module install and use instructions are:

Configuration
Obtain ReCaptcha key from Google
Add site key to recaptcha.key.site system parameter
Add secret key to recaptcha.k

[2020-05-27 20:00] kickfliph opened #728 "[11.0] Website Legal Page"
Hello everyone,

I'm trying to install this module on my Odoo 11 CE and I'm getting this error

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/models.py", line 1046, in _validate_fields
    check(self)
  File "/usr/lib/python3/dist-packages/odoo/addons/base/ir/ir_ui_view.py", line 337, in _check_xml
    view_def = view.read_combined(['arch'

[2020-05-27 20:42] kickfliph commented on #728
well, I found this [1] and it works for me. Yes, I do have a Odoo theme install and after changing the lines the module it loads.

Regards,

[1]https://github.com/OCA/website/issues/150

[2020-06-14 14:07] ghost commented on #727
Same here (v13) .... Perhaps it is lack of experience on my part, but the instructions are not at all helpful.

- Already have a form-enabled model (refer to website_form docs)
- Set website_form_recaptcha to True on that model (similar to enabling forms)
- Add an element with the o_website_form_recaptcha class anywhere in the form

Maybe some more detailed instructions will help perhaps ?

[2020-06-15 07:37] roberto-barreiro commented on #727
Adding an element o_website_form_recaptcha should be done installing the module website_form_recaptcha, and that module refers to website_crm_recaptcha as implementation example.

[2020-06-15 07:41] pedrobaeza commented on #727
Yes, you need that extra step.

[2020-06-15 07:41] #727 closed

[2020-06-15 07:51] roberto-barreiro commented on #727
I'm sorry Pedro, but that it's incorrect. Getting installed the both modules website_form_recaptcha and website_crm_recaptcha, adding an element with class "o_website_form_recaptcha" to the contact form, it's not only not necesary, but adding it, it shows 2 google captchas at contact form. I just have tested it.

[2020-06-15 07:52] pedrobaeza commented on #727
Yes, I mean for other forms that are not that one.

[2020-06-15 07:55] roberto-barreiro commented on #727
The question of this thread, it's about contact form and website_crm_captcha.

[2020-06-15 07:58] pedrobaeza commented on #727
But both together are working correctly. You can check on runbot.

[2020-06-15 08:42] roberto-barreiro commented on #727
Unable to test on runbot, because website_crm_recaptcha for odoo 8 was removed... It was available at the moment I opened this thread...

[2020-06-15 08:44] pedrobaeza commented on #727
I can't say. V8 is so old...

[2020-06-15 08:49] roberto-barreiro commented on #727
I can say I have downloaded it from odoo apps 19 days ago, not so old download. I can guess the reason for the recent removal of version 8.0. No problem, thanks for support.

[2020-06-29 21:27] flotho opened #733 "[Question] How to display graph widget in website"
Hi,

I would like to display stuff with modules like https://github.com/OCA/web/tree/12.0/web_widget_plotly_chart or even the pivot view of Odoo available in the backend.

what is the best way to achieve this ?

Regards

[2020-07-01 11:49] em230418 opened #734 "[11.0][website_multi_theme] scss executable dependency in docker image"
Hi!
As @Yajo pointed in https://github.com/OCA/website/issues/513

So I am using official docker image and there is no such dependency.

[code]

[2020-07-01 11:57] em230418 commented on #734
So the question is, how to install it? https://www.npmjs.com/package/scss does not seem to be the right thing.

[2020-07-03 16:37] flotho commented on #721
Hi @baba75 , this need more informations and logs so that community could help.
JS messages in the console ? Sever messages ?

Regards

[2020-07-06 09:45] baba75 commented on #721
Hi @flotho , I do not know how to look at JS console on mobile; However, today I install an empty fresh DB with only events and website_lazy_load_image, and it worked. So it must be some other, maybe third-party modules that interfere. Thank you for your help, I will close the issue.

[2020-07-06 09:45] #721 closed

[2020-07-06 13:02] flotho commented on #721
Is there any process payment in your workflow ?

[2020-07-07 14:07] baba75 commented on #721
Actually yes. In the past, I got a similar problem with payment as described here: https://github.com/OCA/website/issues/587

[2020-07-08 11:02] ivantodorovich commented on #587
Yeap, just found the same issue..

I've created this PR to fix it: https://github.com/OCA/website/pull/736

[2020-07-22 07:42] yajo commented on #734
Yes, that's why you should use another image :stuck_out_tongue_winking_eye: (\*ahem\* https://github.com/Tecnativa/doodba)

Go check https://sass-lang.com/install

[2020-07-22 07:42] #734 closed

[2020-07-24 10:14] bakatasolutionssl opened #744 "Website_crm_recaptcha V13 sends contact-us form without requiring validated recaptcha's field"
Hello,

We realized that when you send a message through contact-us's form , you can send it without check recaptcha's field added with Website_crm_recaptcha's module.

This issue is solved for Odoo 12 version but not for Odoo 13.
Thank you.

Bakata Solutions Team

[2020-07-29 09:11] fcvalgar commented on #696
It is true that the odoo cookie popup does not collect consent correctly.

There is a CMS similar to the one to indicate called cookiebot on which the implementation with odoo V13 is being worked on.

https://www.cookiebot.com

https://github.com/OCA/website/pull/724

[2020-08-04 07:51] theoo commented on #696
I noticed that there is already few modules addressing this topic:

- https://github.com/OCA/website/tree/12.0/website_cookie_notice
- https://github.com/OCA/data-protection

but I cannot figure out how to bundle them together so points mentioned by @gregory-moka can be covered.

[2020-08-04 08:16] fcvalgar commented on #696
website_cookie_notice not implement the functionalities necessary for compliance for cookie consent.
data-proteccion not cover cookie consent

If the functionality is outsourced with a consent management CMS as @gregory-moka says, the legislative changes will always be considered and the maintenance will be less.

[2020-08-04 08:21] fcvalgar commented on #696
At the moment there are no core or OCA modules that solve this need, although I have seen a payment module but I have not used it.

[2020-08-12 09:06] lauramanteconbakata commented on #744
Dear team,

We just realize that Recaptcha works fine when the website's contact form is set to create an opportunity, but it does not work if the contact form is set to send an e-mail. How could we solve this ? Thank you!

[2020-08-19 11:50] HaraldPanten commented on #667
Hi @rafaelbn @Yajo @pedrobaeza

I was wondering if website_crm_quick_answer is still needed in V13. It's in the migration issue and I checked to be sure that it hasn't been included in core. Could you confirm, please?

[2020-08-19 11:52] pedrobaeza commented on #667
We don't know. Is there the equivalent feature in core?

[2020-08-19 14:56] HaraldPanten commented on #667
I didn't find that functionality. I was asking to have a second opinion, because I'd like to make sure before starting a migration PR.

[2020-08-19 14:57] pedrobaeza commented on #667
Well, I'm afraid you have to check by yourself. The feature is to send an email when submitting the contact us form.

[2020-08-19 14:59] HaraldPanten commented on #667
OK. Yes, I know it's been made for this functionality 👍  THX

[2020-08-21 14:37] HaraldPanten commented on #667
website_crm_quick_answer #746 and ready to be merged.

[2020-08-24 13:25] mqgdqlenq opened #748 "key invalid - displayed in form"
Hi,
we use both the recaptcha form and recaptcha crm, got the key and secret using V3 () and added the recaptcha in the contact form using the code as provided in the examples:

          <div class="form-group row form-field o_website_form_required_custom">
            <label class="col-lg-3 col-md-4 col-form-label o_fake_editable" for="g-recaptcha-response">Human?</label>
            <div class=

[2020-09-29 04:37] Starbors commented on #733
its prob a plugin from another repo

[2020-10-01 11:01] maxmenGMK commented on #748
I have the same error. The key is 100% valid because i tryed to use in another places and it works.

[2020-10-04 10:36] OCA-git-bot opened #781 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [ ] website_analytics_piwik - By @victor-champonnois - #944
- [ ] website_cookie_notice
- [x] website_crm_privacy_policy - By @victoralmau - #857
- [ ] website_crm_quick_answer
- [ ] website_crm_recaptcha
- [x] ~~website_form_recaptcha~~ - It's already supported by Odoo https://github.com/odoo/o

[2020-10-08 10:57] ThorOdoo opened #783 "[V13] website_cookie_notice does not close/disappear when check "ok""
I´ve just installed the addon website_cookie_notice and edited it (changed the message and legal site link).
The banner shows up right and the <a></a> to our legal page also works correctly. But when I click on "ok" to accept the cookie regulations the banner does not disappear.

This is how the Container looks like:

[code]

Do I have to change somthing here? And is it possible to show the banner

[2020-10-08 16:46] simahawk commented on #783
Do you see any error in the browser console?

[2020-10-16 13:54] sergioeix opened #786 "[13.0] website_odoo_debranding not working on customer portal odoo promotional links"
Odoo 13 Community on Ubuntu 18
This module works with website odoo promotional links but not with customer portal pomotinal odoo links "Powered by Odoo"
If this is not a feature on this module i think it makes sense to do it with in.
B/R

[2020-10-26 19:16] rida-fatima-iBees commented on #781
Hello all,
Module website_crm_quick_answer is migrated to v14 and here is the PR #798

[2020-11-05 09:12] ska-ibees commented on #781
Starting website_legal_page and  website_crm_privacy_policy

[2020-11-05 15:36] ska-ibees commented on #781
Finished migration of website_legal_page #794

[2020-11-09 12:46] dsolanki-initos commented on #781
Hello all,
Module website_odoo_debranding  is migrated to v14 and here is the PR #797

[2020-11-10 09:17] rida-fatima-iBees commented on #781
Starting website_typed_text

[2020-11-11 08:31] fshah-initos commented on #781
Hello,
I will migrate this module (website_google_tag_manager) to v14.

[2020-11-17 12:03] vanderperre opened #803 "[13.0] website_crm_privacy_policy bug xpath"
installation : XML parser don't find parent

suggestion

replace in templates/contactus.xml

expr="//form/div/div/span[@id='o_website_form_result']/../.."
by
expr="//form//div/div/span[@id='o_website_form_result']/../.."

[2020-11-18 17:33] rafaelbn commented on #696
Dear @gregory-moka @theoo ,

https://github.com/odoo/odoo/pull/61946

Thanks

[2020-11-20 09:24] wytzejan commented on #803
Please see my comment in OCA#804.
Your suggestion will also work but with a base website_form installation it's not really needed in my opinion.

[2020-11-26 08:22] rida-fatima-iBees commented on #781
Hello all,
Module website_typed_text is migrated to v14 and here is the PR #805

[2020-11-26 10:24] #786 closed

[2020-11-27 10:49] llabusch93 commented on #718
Hello,

+1 for me on V11. DOCTYPE is missing with lazy load installed and public user.

Any news on this?

[2020-11-27 19:25] flotho commented on #718
I'm struggling on unit tests

[2020-12-01 19:20] gustotc opened #807 "[12.0] website_form_builder: Failing due to upstream changes"
Website_form module is undefined and dragging does not work, generating a log on the console.

Odoo 12 Community - updated on 01/12/2020

web_editor.assets_editor.js: 204 undefined have not insert action: data-drop-near or data-drop-in
start @ web_editor.assets_editor.js: 204

![Seleção_087](https://user-images.githubusercontent.com/7175315/100786582-1fe26e00-33f1-11eb-9901-dc632f125932.png)

[2020-12-01 19:22] pedrobaeza commented on #807
This seems something of your deployment, as it's working properly on runbot. Please follow the "Try me on runbot" button on the README for trying.

[2020-12-01 19:42] gustotc commented on #807
I created an installation from scratch, only with this module and crm and even then this error occurs.

Note: My version of Odoo is updated.

The console is reporting that the data drop is missing, do you have any idea about that?

[2020-12-01 19:47] pedrobaeza commented on #807
I'm afraid not. Please try on runbot if you can reproduce the same problem.

[2020-12-01 19:56] gustotc commented on #807
There is an alteration of the odoo that I suspect is what caused this module to stop.

Runbot does not really give an error, but at run time the problem I reported occurs.

![image](https://user-images.githubusercontent.com/7175315/100790048-0db6fe80-33f6-11eb-92d1-6401d70d0528.png)

[2020-12-01 19:57] pedrobaeza commented on #807
But are you talking about a module in this repository?

[2020-12-01 20:02] gustotc commented on #807
Odoo's own module, a change that modified the data-drop. It seems to me a very coincidence that the problem is occurring in exactly that.

[2020-12-01 20:02] pedrobaeza commented on #807
But then you should put the issue in odoo/odoo, not here.

[2020-12-01 20:04] pedrobaeza commented on #807
Or is the change in Odoo affecting a module of this repository?

[2020-12-01 20:04] gustotc commented on #807
I'm trying to help, as an Odoo change may have modified a module for you, but it seems to me that you are not understanding.

OK.

[2020-12-01 20:05] pedrobaeza commented on #807
No, I don't understand as you are not saying which module in this repository is affected. Are you talking about website_form_builder?

[2020-12-01 20:17] gustotc commented on #807
Yes, because it creates a snippet in the web editor, and it is there that the problem is occurring that does not stop dragging and dropping to the form, even with everything configured.

[2020-12-01 20:19] gustotc commented on #807
One question ... did the images I attached appear?

[2020-12-01 20:27] pedrobaeza commented on #807
OK, now it seems more clear. Yes, images appear, but I'm not an expert of each OCA module, just an issue handler.

[2020-12-01 20:34] gustotc commented on #807
got it, thanks Pedro.

I'm using this module and it seems to be very cool, but I came across this problem.

Refing to Odoo, I looked in the list of updates for something related to this to try to help identify the problem, because some changes they make can occur to affect extra modules.

[2020-12-12 09:48] #803 closed

[2020-12-16 15:49] schwammel opened #811 "[V11] website_legal module v,11.0.1.2 the checkbox comes pre-checked."
Hi, I have installed website_legal module v,11.0.1.2 on an Odoo v11. The issue I have is that on the checkout, the checkbox that users should check to agree with our T&C comes comes pre-checked.
Can you advise how should I have that checkbox unchecked by default, respectively have the payment button disabled?

[2020-12-17 07:43] simahawk commented on #718
fixed by #810

[2020-12-17 07:43] #718 closed

[2020-12-17 19:50] JJebara opened #812 "the ReCaptcha module fail to install on Odoo 13 Enterprise"
It fails when looking for 2 fields
1 error for
Field `has_google_recaptcha` does not exist

Error while importing module 'website_form_recaptcha'.

 Error while validating view

Field `has_google_recaptcha` does not exist

Error context:
View `reCaptcha Settings`
[view_id: 4557, xml_id: n/a, model: res.config.settings, parent_id: 1832]
None
<odoo>
    <record id="view_website_config_settings" mode

[2020-12-17 19:58] pedrobaeza commented on #812
It seems you are trying to import the module. Can it be?

[2020-12-18 13:13] JJebara commented on #812
Correct, I am trying to import the module, isn't that the manner to deploy it?

[2020-12-18 13:16] pedrobaeza commented on #812
No, that's only for data module, which is nearly 0 of the existing modules. You need to put it on the addons path and refresh list.

[2020-12-18 13:16] #812 closed

[2020-12-18 13:18] JJebara commented on #812
Thank you so much for helping on this. I figured it out.
I may have missed the installation instructions .. I will double check. I added the modules to the add-on and was able to install. Have a wonderful day. Thank you :)

[2020-12-18 13:45] pedrobaeza commented on #812
Sorry, but that's outside the scope of this issue, as it's very broad. Check Odoo documentation.

[2020-12-24 06:05] t-900-a opened #813 "Enable travis-ci testing for 14.0 branch"
My project is dependent on the website module, so I have it included when running tests. The tests fail. I noticed the 12.0 branch has travis ci enabled, but not the 14.0 branch.

"23 failed, 12 error(s) of 1237 tests when loading database 'openerp_test'"

https://travis-ci.com/github/t-900-a/moneroodoo/jobs/464709509

[2020-12-24 06:07] t-900-a commented on #813
Just noticed this can't be done until all the modules support 14.0.
https://github.com/OCA/website/issues/781

Thank you for all who are helping with this effort

[2020-12-25 17:16] t-900-a commented on #813
The tests were failing, due to the incorrect database permissions.
Code seems to passing in the 14 branch.
https://github.com/t-900-a/moneroodoo/commit/9c04d49daaad20612c797eb1916beb6c43280679

[2020-12-25 17:16] #813 closed

[2020-12-28 19:09] ivantodorovich commented on #781
website_cookie_notice https://github.com/OCA/website/pull/814

[2021-01-21 12:05] apropsi opened #816 "website_blog_excerpt_img url https"
The cover image url is http:// instead of https. (Site has a SSL).
How can I change it?
Thanks

[2021-02-12 21:21] southernegro opened #823 "Problem implementing the website_form_recaptcha on my website. It don't show."
I hope this is because of my fault and not a bug.
I followed all the steps from README:

1. Added site key to `recaptcha.key.site` system parameter
2. Added secret key to `recaptcha.key.secret` system parameter
3. Set site key and secret key on website settings
4. Set True `website_form_recaptcha` on `crm.lead` model
5. Add span element with `o_website_form_recaptcha` class (I'll show)

[code]

An

[2021-02-18 01:09] luisg123v commented on #781
Hi @pedrobaeza,

This issue is not pinned. Could you pin it, please?

I'm tagging you because I see you're the one that usually does it :smile:

[2021-03-03 11:29] filipocc opened #826 "[12.0] website_no_crawler doesn't replace current robots.txt template"
Hi there,
i've just found an issue with website_no_crawler module.
I've checked the code, and it should replace all content inside <t> </t> label, but it is not working properly:
https://github.com/OCA/website/blob/d9ff29280ed14633d288c5d44ec57e50ffbe3983/website_no_crawler/views/disable_robots.xml#L4
![image](https://user-images.githubusercontent.com/15066476/109799042-ce2dc780-7c1b-11eb-8019-1f7